.wrapper-motor
  .motor
    h1
      i.icon-vh
      | Vuelo + Hotel
      span Paquetes vacacionales y viajes + hotel a tu medida

    .container    
      #motor-container.tab-content.nav-vuelo-tab
        .formulario-bloq.formulario-vuelos(style='display: block;')
          script.
            var nroHabitacion = 1;
          .formulario-motor.form-vuelos
            form#frmBuscarVuelos
              .spacer-slight(style='display: none;')
              input#DatosBusquedaHotel_IdDestino(name='DatosBusquedaHotel.IdDestino' type='hidden' value='')
              input#idDestino(type='hidden')
              .form-motor
                // RT and OW
                #ida-vuelta.view
                  .grupo-input
                    .label-destino
                      label.input-label(for='') Origen
                      .input-group
                        input#Origen.clearable.x.tOrigen.ui-autocomplete-input(value='LIM Lima [Aeropuerto Internacional Jorge Chavez], Peru' data-padre='form-vuelos' maxlength='30' name='Origen' onclick='this.select();' onfocus='focus_val(this);' onkeypress='return val_AZ(event);' placeholder='Origen' type='text' autocomplete='off')
                      #divAlert_Origen
                    .label-destino
                      label.input-label(for='') Destino
                      .input-group
                        input#Destino.clearable.tDestino.x.ui-autocomplete-input(value='PIU Piura, Peru' data-padre='form-vuelos' maxlength='30' name='Destino' onclick='this.select();' onfocus='focus_val(this);' onkeypress='return val_AZ(event);' placeholder='Destino' type='text' autocomplete='off')
                      #divAlert_Destino(data-gtm-vis-polling-id-1560682_334='89')
                  // JC CALENDAR IS
                  #divFechaSalidaOW-is.label-fecha.hidden-xs.hidden-sm.none
                    // RC - UX 2019/04/04
                    label.input-label(for='') Salida
                    .input-group
                      input#FechaSalidaOW-is.form-control(name='FechaSalidaOW-is' placeholder='Salida' type='text' onfocus='focus_val(this)' readonly='readonly' data_padre='form-vuelos')
                    #divAlert_FechaSalida-is
                  #dateRange-is.grupo-input.hidden-xs.hidden-sm(style='display: block !important')
                    // RC - UX 2019/04/04
                    #divFechaSalidaRT-is.label-fecha.view
                      label.input-label(for='') Salida
                      .input-group
                        input#FechaSalida-is.form-control(value='21/11/2019' name='FechaSalida-is' placeholder='Salida' type='text' onfocus='focus_val(this)' readonly='readonly' data_padre='form-vuelos')
                      // RC - UX 08/04/2019
                      // <div id="divAlert_FechaSalida-is"></div>
                      #divAlert_FechaSalidaRT-is
                      // FIN RC
                    #divFechaRetorno-is.label-fecha.view
                      label.input-label(for='') Retorno
                      .input-group
                        input#FechaRegreso-is.form-control(value='23/11/2019' name='FechaRegreso-is' placeholder='Retorno' type='text' onfocus='focus_val(this)' readonly='readonly' data_padre='form-vuelos')
                      #divAlert_FechaRegreso-is
                  // JC CALENDAR OLD    visible-xs visible-sm
                  #calendario.grupo-input.visible-xs.visible-sm(style='display: none !important;')
                    // RC - UX 2019/04/04
                    #divFechaSalidaRT.label-fecha.view
                      label.input-label(for='') Salida
                      .input-group
                        input#FechaSalida.ctrlFechaIni(value='21/11/2019' data-padre='form-vuelos' name='FechaSalida' onfocus='focus_val(this);' placeholder='Salida' readonly='readonly' type='text')
                      #divAlert_FechaSalida
                      #calendarVue.datepickerRange.hasDatepicker
                        .dp-arrow
                        .ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-datepicker-multi.ui-datepicker-multi-2(style='display: block; width: 34em;')
                          .ui-datepicker-group.ui-datepicker-group-first
                            .ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-left
                              a.ui-datepicker-prev.ui-corner-all.ui-state-disabled(title='Anterior')
                                span.ui-icon.ui-icon-circle-triangle-w Anterior
                              .ui-datepicker-title
                                span.ui-datepicker-month Octubre
                                span.ui-datepicker-year 2019
                            table.ui-datepicker-calendar
                          
                          .ui-datepicker-row-break
                          .ui-datepicker-buttonpane.ui-widget-content.divclosecalendar
                            .title-selectfecha Seleccionar rango de fechas
                            button#close-calendar.btn-close_calendar(type='button' onclick='closeCalendar();')
                              i.icon-close
                            .title-selectfecha2 Selecciona fecha
                            button.ui-datepicker-current.ui-state-default.ui-priority-secondary.ui-corner-all(type='button' data-handler='today' data-event='click')
                    #divFechaSalidaOW.label-fecha.none
                      label.input-label(for='') Salida
                      .input-group
                        input#FechaSalidaOW.ctrlFechaIni.hasDatepicker(value='21/11/2019' data-padre='form-vuelos' name='FechaSalidaOW' onfocus='focus_val(this);' placeholder='Salida' readonly='readonly' type='text')
                      #divAlert_FechaSalida
                    #divFechaRetorno.label-fecha.view
                      label.input-label(for='') Retorno
                      .input-group
                        input#FechaRegreso.ctrlFechaDes(value='23/11/2019' data-padre='form-vuelos' name='FechaRegreso' onfocus='focus_val(this);' placeholder='Retorno' readonly='readonly' type='text')
                      #divAlert_FechaRegreso
                // Multicity
                #multicity.none
                  #divVueTramo0.bloq-multicity
                    .visible-xxs.labelTramo
                      b Tramo 1
                    .grupo-input
                      .label-destino
                        label.input-label(for='') Origen
                        .input-group
                          input#Tramos_0__Origen.ui-autocomplete-input(name='Tramos[0].Origen' onclick='this.select();' onfocus='focus_val(this);' placeholder='Origen' type='text' value='' autocomplete='off')
                        #divAlert_Tramos_0__Origen
                      .label-destino
                        label.input-label(for='') Destino
                        .input-group
                          input#Tramos_0__Destino.ui-autocomplete-input(name='Tramos[0].Destino' onclick='this.select();' onfocus='focus_val(this);' placeholder='Destino' type='text' value='' autocomplete='off')
                        #divAlert_Tramos_0__Destino
                    .grupo-input
                      .label-fecha
                        label.input-label(for='') Salida
                        .input-group
                          input#Tramos_0__FechaSalida.fechaSalidaMC.hasDatepicker(name='Tramos[0].FechaSalida' onfocus='focus_val(this);' placeholder='Salida' readonly='readonly' type='text' value='')
                        #divAlert_Tramos_0__FechaSalida
                  #divVueTramo1.bloq-multicity(style='Display:none')
                    .visible-xxs.labelTramo
                      b Tramo 2
                    .grupo-input
                      .label-destino
                        label.input-label(for='') Origen
                        .input-group
                          input#Tramos_1__Origen.ui-autocomplete-input(name='Tramos[1].Origen' onclick='this.select();' onfocus='focus_val(this);' placeholder='Origen' type='text' value='' autocomplete='off')
                        #divAlert_Tramos_1__Origen
                      .label-destino
                        label.input-label(for='') Destino
                        .input-group
                          input#Tramos_1__Destino.ui-autocomplete-input(name='Tramos[1].Destino' onclick='this.select();' onfocus='focus_val(this);' placeholder='Destino' type='text' value='' autocomplete='off')
                        #divAlert_Tramos_1__Destino
                    .grupo-input
                      .label-fecha
                        label.input-label(for='') Salida
                        .input-group
                          input#Tramos_1__FechaSalida.fechaSalidaMC.hasDatepicker(name='Tramos[1].FechaSalida' onfocus='focus_val(this);' placeholder='Salida' readonly='readonly' type='text' value='')
                        #divAlert_Tramos_1__FechaSalida
                  #divVueTramo2.bloq-multicity(style='Display:none')
                    .visible-xxs.labelTramo
                      b Tramo 3
                    .grupo-input
                      .label-destino
                        label.input-label(for='') Origen
                        .input-group
                          input#Tramos_2__Origen.ui-autocomplete-input(name='Tramos[2].Origen' onclick='this.select();' onfocus='focus_val(this);' placeholder='Origen' type='text' value='' autocomplete='off')
                        #divAlert_Tramos_2__Origen
                      .label-destino
                        label.input-label(for='') Destino
                        .input-group
                          input#Tramos_2__Destino.ui-autocomplete-input(name='Tramos[2].Destino' onclick='this.select();' onfocus='focus_val(this);' placeholder='Destino' type='text' value='' autocomplete='off')
                        #divAlert_Tramos_2__Destino
                    .grupo-input
                      .label-fecha
                        label.input-label(for='') Salida
                        .input-group
                          input#Tramos_2__FechaSalida.fechaSalidaMC.hasDatepicker(name='Tramos[2].FechaSalida' onfocus='focus_val(this);' placeholder='Salida' readonly='readonly' type='text' value='')
                        #divAlert_Tramos_2__FechaSalida
                  #divVueTramo3.bloq-multicity(style='Display:none')
                    .visible-xxs.labelTramo
                      b Tramo 4
                    .grupo-input
                      .label-destino
                        label.input-label(for='') Origen
                        .input-group
                          input#Tramos_3__Origen.ui-autocomplete-input(name='Tramos[3].Origen' onclick='this.select();' onfocus='focus_val(this);' placeholder='Origen' type='text' value='' autocomplete='off')
                        #divAlert_Tramos_3__Origen
                      .label-destino
                        label.input-label(for='') Destino
                        .input-group
                          input#Tramos_3__Destino.ui-autocomplete-input(name='Tramos[3].Destino' onclick='this.select();' onfocus='focus_val(this);' placeholder='Destino' type='text' value='' autocomplete='off')
                        #divAlert_Tramos_3__Destino
                    .grupo-input
                      .label-fecha
                        label.input-label(for='') Salida
                        .input-group
                          input#Tramos_3__FechaSalida.fechaSalidaMC.hasDatepicker(name='Tramos[3].FechaSalida' onfocus='focus_val(this);' placeholder='Salida' readonly='readonly' type='text' value='')
                        #divAlert_Tramos_3__FechaSalida
                  .btns-tramo
                    a#botonagregartramo(style='display: block;') + Agregar Tramo
                    a#botoneliminartramo(style='display: none;') - Eliminar Tramo
                // Pasajeros
                #div-label-pasajeros.label-pasajeros
                  .input-group
                    label.input-label(for='') Pasajero
                    button#btn_add-pasajero.add-pasajero.arrows_down.collapsed(type='button' onclick=' fn_showPassenger(); ')
                    input#nro-adultos(type='text' value='1' readonly='readonly')
                    |  Pasajero(s)
                    #div_pasajeros.pasajeros-box.collapsed(style='display: none;')
                      .item_pasajero
                        strong
                          | Adultos
                          small Mayores de 12 a&ntilde;os
                        .item_agregar
                          span.value-control(data-action='minus' data-target='Adultos')
                            i.icon-menos
                          .cupo
                            input#Adultos(value='1' data-val='true' data-val-number='The field Adultos must be a number.' data-val-required='The Adultos field is required.' name='Adultos' readonly='readonly' type='text')
                          span.value-control(data-action='plus' data-target='Adultos')
                            i.icon-mas
                      .item_pasajero
                        strong
                          | Ni&ntilde;os
                          small De 2 a 11 a&ntilde;os
                        .item_agregar
                          span.value-control(data-action='minus' data-target='Ninos')
                            i.icon-menos
                          .cupo
                            input#Ninos(value='0' data-val='true' data-val-number='The field Ninos must be a number.' data-val-required='The Ninos field is required.' name='Ninos' readonly='readonly' type='text')
                          span.value-control(data-action='plus' data-target='Ninos')
                            i.icon-mas
                      .item_pasajero
                        strong
                          | Infantes
                          small Menores de 2 a&ntilde;os
                        .item_agregar
                          span.value-control(data-action='minus' data-target='Infantes')
                            i.icon-menos
                          .cupo
                            input#Infantes(value='0' data-val='true' data-val-number='The field Infantes must be a number.' data-val-required='The Infantes field is required.' name='Infantes' readonly='readonly' type='text')
                          span.value-control(data-action='plus' data-target='Infantes')
                            i.icon-mas
                  #divAlert_Adultos
                  #divAlert_CantPax
              #hab1(style='display: none;' adt='2' chd='0')
              #hab2(style='display: none;' adt='2' chd='0')
              #hab3(style='display: none;' adt='2' chd='0')
              #hab4(style='display: none;' adt='2' chd='0')
              .btn-motor
                button(type='button' data-padre='form-vuelos' onclick='f_buscar_vuelos(this); ') Buscar
              input#hdType(value='0' name='hdType' type='hidden')
              