.jsidebar-left
  .jsearch
    .jsearch__item
      .jsearch__label
        label
          | Busca por el nombre del hotel
      .jsearch__input          
        input.Input.Input--lupa(type="text",id="name_hotel")
  .jfilter-hotels
    .jfilter-hotels__head
      h2
        | Filtra por:
    .jfilter-hotels__items
      .jbox-filter
        .jbox-filter__head
          h3 Tu presupuesto:
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="presupuesto1",value="1")
            label(for="presupuesto1")
              span
                | S/ 0 - S/ 180 por noche
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="presupuesto2",value="2")
            label(for="presupuesto2")
              span
                | S/ 180 - S/ 370 por noche
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="presupuesto3",value="3")
            label(for="presupuesto3")
              span
                | S/ 370 - S/ 550 por noche 
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="presupuesto4",value="4")
            label(for="presupuesto4")
              span
                | S/ 550 - S/ 740 por noche       
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="presupuesto5",value="5")
            label(for="presupuesto5")
              span
                | S/ 740 + por noche     

      .jbox-filter
        .jbox-filter__head
          h3 Estrellas:
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="start1",value="1")
            label(for="start1")
              span
                | 1 estrrella
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="start2",value="2")
            label(for="start2")
              span
                | 2 estrellas
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="start3",value="3")
            label(for="start3")
              span
                | 3 estrellas
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="start4",value="4")
            label(for="start4")
              span
                | 4 estrellas    
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="start5",value="5")
            label(for="start5")
              span
                | 5 estrellas        
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="startAll",value="5")
            label(for="startAll")
              span
                | Todos 

      .jbox-filter
        .jbox-filter__head
          h3 Tipo de Tarifa:
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="tipo1",value="1")
            label(for="tipo1")
              span
                | Reembolsable
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="tipo2",value="2")
            label(for="tipo2")
              span
                | No Reembolsable


      .jbox-filter
        .jbox-filter__head
          h3 Ofertas:
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="oferta1",value="1")
            label(for="oferta1")
              span
                | Ofertas y Promociones  

      .jbox-filter
        .jbox-filter__head
          h3 Regimen:
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="regimen1",value="1")
            label(for="regimen1")
              span
                | Todos los Regimen 
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="regimen2",value="2")
            label(for="regimen2")
              span
                | Solo Alojamiento 
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="regimen3",value="3")
            label(for="regimen3")
              span
                | Solo Desayuno
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="regimen4",value="4")
            label(for="regimen4")
              span
                | Solo Almuerzo 
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="regimen5",value="5")
            label(for="regimen5")
              span
                | Media pensión                                                                 
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="regimen6",value="6")
            label(for="regimen6")
              span
                | Pensión Completo  
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="regimen7",value="7")
            label(for="regimen7")
              span
                | Todo Incluido 

      .jbox-filter
        .jbox-filter__head
          h3 Servicios del hotel:
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="servh1",value="1")
            label(for="servh1")
              span
                | Wifi Gratis
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="servh2",value="2")
            label(for="servh2")
              span
                | Piscina   
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="servh3",value="3")
            label(for="servh3")
              span
                | Lanvadería  
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="servh4",value="4")
            label(for="servh4")
              span
                | Aire Acondicionado  
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="servh5",value="5")
            label(for="servh5")
              span
                | Cocina  

      .jbox-filter
        .jbox-filter__head
          h3 Calificaciones de viajeros (TripAdvisor)
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="tripadvisor1",value="1")
            label(for="tripadvisor1")
              span
                | Todas 
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="tripadvisor2",value="2")
            label(for="tripadvisor2")
              span
                img(src="./img/TripAdvisor_5.png", alt="")  
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="tripadvisor3",value="3")
            label(for="tripadvisor3")
              span
                img(src="./img/TripAdvisor_4.png", alt="") 
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="tripadvisor4",value="4")
            label(for="tripadvisor4")
              span
                img(src="./img/TripAdvisor_3.png", alt="") 
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="tripadvisor5",value="5")
            label(for="tripadvisor5")
              span
                img(src="./img/TripAdvisor_2.png", alt="")                                                                   

      .jbox-filter
        .jbox-filter__head
          h3 Distancia del aeropuerto:
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="distanciaAll",value="1")
            label(for="distanciaAll")
              span
                | Todos
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="distancia2",value="2")
            label(for="distancia2")
              span
                | a 1 Km.   
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="distancia3",value="3")
            label(for="distancia3")
              span
                | a 5 Km.  
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="distancia4",value="4")
            label(for="distancia4")
              span
                | a 10 Km.               
        .jbox-filter__opts
          label.check-box
            input(type="checkbox",id="distancia5",value="5")
            label(for="distancia5")
              span
                | más de 10 Km.                  