.jcolumn-right
  .jtag-order
    .jtag-order__tags
      .jtag-order__tag.active
        a(href="#")
          | Nuestros destacados
      .jtag-order__tag
        a(href="#")
          | Precio (más bajo primero)
      .jtag-order__tag
        a(href="#")
          | TripAdvisor              
    .jtag-order__select
      span
        | Ordenar por
      .Select
        select#select_orden
          option(value="1") Recomendados
          option(value="2") Por Precio
          option(value="3") Por Nombre          
  .jresult
    #mode-list.panel-result
      - for (var p = 0 ; p < 5 ; ++p){
          .box-result
            .bloq_gallery
              picture
                a(href='#ImagenHotel-1' onclick="idHotel('20301837896P')" data-toggle='modal' data-idhotel='20301837896P')
                  //- span
                  //-   .icongallery
                  //-     i.icon-photo_camera
                  //-     em Galer&iacute;a
                  img(src='http://condorlink.com/documentos/hotel/galeria/file-5bbe3e6e0d629.jpg' onerror="this.src ='/Images/nopicture-hotel.jpg'")
              .bloq_gallery__tag
                | 20% Dcsto.

            .body_detalles
              .body_detalles__title
                h3.title-hotel Los Portales Piura Hotel

              .servicios_paquete
                .stars
                  i.icon-star  
                  i.icon-star  
                  i.icon-star
                .mapa-tri
                  .ver-mapa
                    | Miami. 
                    a(onclick="openMapRoom('20301837896P','-5.197397','-80.626099','Los Portales Piura Hotel')")
                      | Mostrar en el mapa
                  .tripadvisor
                    img.tripadvisor__img(src="./img/TripAdvisor_2.png", alt="")
                    span
                      | (2,500 reseñas)
                .adr-reg
                  .address
                    i.icon-room
                    p
                      | Cancún, a 12.2 Km de: Playa Delfines
                  .regimen
                    p
                      | Régimen: Solo Desayuno
              .body_detalles__hab_vue
              .body_detalles__precio
                //- .precio
                //-   .tarifa(data-price-ht='63.26' data-vue='115.9')
                //-     small Desde
                //-     sub $
                //-     span 121
                //-     b Por Persona               
                //- .noches
                //-   i.icon-brightness_2
                //-   |  2 Noches
              //- .ver_detalles_hotel
              //-   .btn_verhotel
              //-     a.tablinks_info(href='#panelInfo-20301837896P' data-ref='panelInfo-20301837896P')
              //-       i.icon-info
              //-       | Informaci&oacute;n
              //-   .btn_verhotel
              //-     a(onclick="openMapRoom('20301837896P','-5.197397','-80.626099','Los Portales Piura Hotel')")
              //-       i.icon-room
              //-       | Ubicaci&oacute;n
              //-   .btn_verhotel
              //-     a(href='#ImagenHotel-1' onclick="idHotel('20301837896P')" data-toggle='modal' data-idhotel='20301837896P')
              //-       i.icon-photo_camera
              //-       | Galer&iacute;a


              //- .btn-verOferta
              //-   #cargandoTest-20301837896P(style='display:none;width: 37px;height: 37px;position: absolute;left: -33px;overflow: hidden;')
              //-     img(src='/Images/loaderHotelsGif.gif')
              //-   a#panelOpcionHab-20301837896P-id.btn.tablinks(href='#panelOpcionHab-20301837896P' data-ref='panelOpcionHab-20301837896P' idhotel='20301837896P' nrohabitacion='1')
              //-     | Elegir Habitaciones
              //-     i.icon-keyboard_arrow_down
            //- #RoomDetails_20301837896P
            //- .boxDetailHotel
            //-   .tabcontent
            //-     button.closetab(type='button') &times;
            //-     .boxInfo
            //-       .headerDetail
            //-         h4 Detalles
            //-       .bodyDetail
            //-         p
            //-           | La mejor ubicaci&oacute;n,situado frente a la plaza de armas en el centro financiero y comercial  de la ciudad de Piura .Confortables y amplias habitaciones totalmente remodeladas .Contamos con acceso a internet inal&aacute;mbrico en todas las instalaciones .Podr&aacute; disfrutar de la deliciosa comida local e internacional en el restaurante Las Palmeras, shows en vivo en el conocido bar el Marques, casino las 24 horas ,piscina al aire libre y todo el comfort que usted necesita.
      -}
