/*---------------------------------------------------------------------------*
 * Start: Button
----------------------------------------------------------------------------*/

// Own configuration


.Button {
  color: $c_blanco;
  cursor: pointer;
  width: 100%;
  padding: 6px 12px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;  
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  font-size: $font_size_base * 1.5;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
  &--oscuro{
    background: $c_oscuro_patron;
    color: $c_blanco;
    &:hover{
      background: $c_bg_pink !important;
      color: $c_blanco;
    } 
    &:focus{
      color: $c_blanco;
    }

  }
  &--blanco{
    background: $c_blanco;
    border: solid 1px $c_oscuro_patron;
    /*padding: 10px 0;*/
    color: $c_oscuro_patron;
    &:hover{
      background: $c_blanco !important;
      color: $c_oscuro_patron;
    } 
  }  
  
  &--primary{
    background: $c_bg_button;
    border: solid 1px $c_border_button;
  }

  
  &--rojo{
    background: $c_rojo_patron;
    &:hover{
      color: $c_blanco;
      font-weight: bold;    
    }
  }   
  &--plomo{
    background: $c_oscuro_patron;
    &:hover{
      color: $c_blanco;
      font-weight: bold;    
    }
  }    
  &:focus {
    outline: none;
  }
  &.is-disabled,
  &:disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--link {
    cursor: not-allowed;
    pointer-events: none;
  }

  &__icon {
    background: transparent url("../img/sprite-icons.png") -90px 0 no-repeat;
    background-size: 190px 100px;
    display: inline-block;
    height: 22px;
    width: 22px;
    line-height: 100%;
    margin-right: 5px;
    vertical-align: middle;
  }
  &__text {
    vertical-align: middle;
    font-size: 14px;
  }

  &--easy{
    padding: 15px;
    background-color: $c_blanco;
    background-image: url('../img/logo-easy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }   
  &--vhdmundiales-tools{
    padding: 15px;
    background-color: $c_blanco;
    background-image: url('../img/logo-vhdmundiales-tools.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }      
  &--link-btn{
    background: $c_oscuro_patron;
    &:hover {
      color: $c_blanco;
    }
    &:focus {
      color: $c_blanco;
      text-decoration: none;
    }    
  }
}
