/*---------------------------------------------------------------------------*
 * Start: checkbox
----------------------------------------------------------------------------*/
.check-box {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 5px 0;
  input[type=checkbox] {
    display: none;
    &:checked + label:after {
      position: absolute;
      top: -1px;
      left: 0px;
      font-size: 18px;
      font-family: nmviajes !important;
      content: "\e5ca";
      display: block;
      color: $c_rojo_patron;
    }
  }
  label{
    span{
      position: absolute;
      top: 4px;
      img{
        margin-top: -3px;
      }
    }
    &:before {
      content: " ";
      display: inline-block;
      position: relative;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid $c_gris;
      background-color: transparent;
      margin-right: 10px;
      border-radius: 3px;
    }

  }
}

