/*---------------------------------------------------------------------------*
 * Start: file
----------------------------------------------------------------------------*/
label.file {
  position: relative;
  height: 35px;
  cursor: pointer;
  input{
    opacity: 0;
  }
  span{
    position: absolute;
    width: 100%;
    height: 35px;
    background: $c_blanco;
    top: 0;
    left: 0;
    border: solid 2px $c_gris;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    p{
      content:'Adjuntar archivo';
      color:$c_gris;
      padding: 7px 0 0 10px;
      display: inline-block;
    }
    i{
      position: absolute;
      right: 0;
      width: 45px;
      height: 31px;
      background: $c_gris;
      font-size: 26px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius:  7px;
      border-radius: 7px; 
      color:$c_bg_green;  
      text-align: center;
      padding-top: 2px;   
    }
  }
}
/*---------------------------------------------------------------------------*
 * Endof: Label
----------------------------------------------------------------------------*/
