.form{
  h3{
    margin: 15px 0;
  }
  &__p{
    margin: 15px 0;
    &--red{
      color: $c_rojo_patron;
    }
  }
  &__span-ley{
    font-size: $font_size_base * 0.9;
  }
  &__textarea{
    min-height: 100px;
    line-height: 16px;
    margin: 0;
  }
  &-group{
    min-height: 65px;
    margin-bottom: 5px;
    input{


      &.error{
        border: solid 1px $c_border_error;
      }
      
    }
    label.error{
      color: $c_texto_error;
      font-size: $font_size_base;
    }
  }

  // &-check{
  //   min-height: 30px;
  // }
  &--label-left{
    label.control-label{
      text-align: left !important;
    }
  }
}