[class^="icon-c-"], [class*=" icon-c-"] { /* use !important to prevent issues with browser extensions that change fonts */

}

.icon-c-lupa{
    background-image: url('../img/lupa.png');
    width: 25px;
    height: 25px;
}