/*---------------------------------------------------------------------------*
 * Start: Input
----------------------------------------------------------------------------*/
$color-blue-light-1:      #C5D5E6;
$color-disabled : #dededc;
::-webkit-input-placeholder { /* Edge */
  color: $c_texto_placeholder;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $c_texto_placeholder;
}

::placeholder {
  color: $c_texto_placeholder;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.Input {  
  height: 36px;
  line-height: 30px;
  width: 100%;
  font-size: $font_size_base * 1.2;
  padding: 3px;
  outline: none;
  border: 1px solid $c_gris;
  border-radius: 1px;
  -webkit-box-shadow: 2px 5px 3px -5px #b3b3b3;
  -moz-box-shadow: 2px 5px 3px -5px #b3b3b3;
  box-shadow: 2px 5px 3px -5px #b3b3b3;
  @include mqmax(mobile_medium) {
    padding: 2px 5%;
    font-size: $font_size_base_m;
  }

  &--lupa{
    background-image: url('../img/lupa.png');
    background-repeat: no-repeat;
    background-position: center right;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.65;
    background-color: $color-disabled;
  }
  
}
/*---------------------------------------------------------------------------*
 * Endof: Input
----------------------------------------------------------------------------*/
