/*---------------------------------------------------------------------------*
 * Start: Label
----------------------------------------------------------------------------*/
.Label {
  &, * { box-sizing:border-box; }
  font-size: 13px;
  line-height: 1.5;
  color: #404040;
  &--error{
    color: $c_texto_error;
    font-size: 12px;
  }
}

.intelo_sb{
  font-family: 'intelo-semibold';
}
.intelo_b{
  font-family: 'intelo-bold';
}
.intelo_r{
  font-family: 'intelo';
}


/*---------------------------------------------------------------------------*
 * Endof: Label
----------------------------------------------------------------------------*/
