@font-face {
  font-family: 'nmviajes';
  src: url("../fonts/nmviajes/nmviajes.eot?hwc2ep");
  src: url("../fonts/nmviajes/nmviajes.eot?hwc2ep#iefix") format("embedded-opentype"), url("../fonts/nmviajes/nmviajes.ttf?hwc2ep") format("truetype"), url("../fonts/nmviajes/nmviajes.woff?hwc2ep") format("woff"), url("../fonts/nmviajes/nmviajes.svg?hwc2ep#nmviajes") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] { /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nmviajes' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1; /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-m-picchu:before {
  content: "\e948";
}

.icon-asia:before {
  content: "\e93e";
}

.icon-caribe:before {
  content: "\e93f";
}

.icon-europa:before {
  content: "\e940";
}

.icon-norteamerica:before {
  content: "\e941";
}

.icon-sudamerica:before {
  content: "\e942";
}

.icon-vm:before {
  content: "\e943";
}

.icon-error:before {
  content: "\e000";
}

.icon-queue:before {
  content: "\e03c";
}

.icon-repeat:before {
  content: "\e040";
}

.icon-repeat_one:before {
  content: "\e041";
}

.icon-replay:before {
  content: "\e042";
}

.icon-hd:before {
  content: "\e052";
}

.icon-playlist_add_check:before {
  content: "\e065";
}

.icon-call_end:before {
  content: "\e0b1";
}

.icon-chat:before {
  content: "\e0b7";
}

.icon-clear_all:before {
  content: "\e0b8";
}

.icon-comment:before {
  content: "\e0b9";
}

.icon-contacts:before {
  content: "\e0ba";
}

.icon-location_off:before {
  content: "\e0c7";
}

.icon-phone:before {
  content: "\e0cd";
}

.icon-contact_phone:before {
  content: "\e0cf";
}

.icon-contact_mail:before {
  content: "\e0d0";
}

.icon-ring_volume:before {
  content: "\e0d1";
}

.icon-swap_calls:before {
  content: "\e0d7";
}

.icon-vpn_key:before {
  content: "\e0da";
}

.icon-mail_outline:before {
  content: "\e0e1";
}

.icon-rss_feed:before {
  content: "\e0e5";
}

.icon-add:before {
  content: "\e145";
}

.icon-add_box:before {
  content: "\e146";
}

.icon-add_circle:before {
  content: "\e147";
}

.icon-archive:before {
  content: "\e149";
}

.icon-backspace:before {
  content: "\e14a";
}

.icon-block:before {
  content: "\e14b";
}

.icon-content_copy:before {
  content: "\e14d";
}

.icon-content_paste:before {
  content: "\e14f";
}

.icon-drafts:before {
  content: "\e151";
}

.icon-filter_list:before {
  content: "\e152";
}

.icon-flag:before {
  content: "\e153";
}

.icon-forward:before {
  content: "\e154";
}

.icon-markunread:before {
  content: "\e159";
}

.icon-redo:before {
  content: "\e15a";
}

.icon-remove:before {
  content: "\e15b";
}

.icon-remove_circle:before {
  content: "\e15c";
}

.icon-remove_circle_outline:before {
  content: "\e15d";
}

.icon-reply:before {
  content: "\e15e";
}

.icon-reply_all:before {
  content: "\e15f";
}

.icon-sort:before {
  content: "\e164";
}

.icon-text_format:before {
  content: "\e165";
}

.icon-undo:before {
  content: "\e166";
}

.icon-weekend:before {
  content: "\e16b";
}

.icon-delete_sweep:before {
  content: "\e16c";
}

.icon-access_alarms:before {
  content: "\e191";
}

.icon-airplanemode_inactive:before {
  content: "\e194";
}

.icon-wallpaper:before {
  content: "\e1bc";
}

.icon-storage:before {
  content: "\e1db";
}

.icon-wifi_tethering:before {
  content: "\e1e2";
}

.icon-attach_file:before {
  content: "\e226";
}

.icon-attach_money:before {
  content: "\e227";
}

.icon-border_color:before {
  content: "\e22b";
}

.icon-insert_comment:before {
  content: "\e24c";
}

.icon-insert_drive_file:before {
  content: "\e24d";
}

.icon-insert_invitation:before {
  content: "\e24f";
}

.icon-monetization_on:before {
  content: "\e263";
}

.icon-keyboard_arrow_down:before {
  content: "\e313";
}

.icon-keyboard_arrow_left:before {
  content: "\e314";
}

.icon-keyboard_arrow_right:before {
  content: "\e315";
}

.icon-keyboard_arrow_up:before {
  content: "\e316";
}

.icon-security:before {
  content: "\e32a";
}

.icon-adjust:before {
  content: "\e39e";
}

.icon-brightness_1:before {
  content: "\e3a6";
}

.icon-brightness_2:before {
  content: "\e3a7";
}

.icon-brightness_3:before {
  content: "\e3a8";
}

.icon-brightness_4:before {
  content: "\e3a9";
}

.icon-control_point:before {
  content: "\e3ba";
}

.icon-filter_none:before {
  content: "\e3e0";
}

.icon-music_note:before {
  content: "\e405";
}

.icon-navigate_before:before {
  content: "\e408";
}

.icon-navigate_next:before {
  content: "\e409";
}

.icon-photo_camera:before {
  content: "\e412";
}

.icon-photo_library:before {
  content: "\e413";
}

.icon-picture_as_pdf:before {
  content: "\e415";
}

.icon-portrait:before {
  content: "\e416";
}

.icon-rotate_left:before {
  content: "\e419";
}

.icon-rotate_right:before {
  content: "\e41a";
}

.icon-tag_faces:before {
  content: "\e420";
}

.icon-timelapse:before {
  content: "\e422";
}

.icon-timer:before {
  content: "\e425";
}

.icon-timer_off:before {
  content: "\e426";
}

.icon-tune:before {
  content: "\e429";
}

.icon-view_comfy:before {
  content: "\e42a";
}

.icon-view_compact:before {
  content: "\e42b";
}

.icon-wb_sunny:before {
  content: "\e430";
}

.icon-photo_size_select_actual:before {
  content: "\e432";
}

.icon-linked_camera:before {
  content: "\e438";
}

.icon-add_a_photo:before {
  content: "\e439";
}

.icon-beenhere:before {
  content: "\e52d";
}

.icon-directions_bike:before {
  content: "\e52f";
}

.icon-directions_bus:before {
  content: "\e530";
}

.icon-directions_car:before {
  content: "\e531";
}

.icon-directions_boat:before {
  content: "\e532";
}

.icon-directions_transit:before {
  content: "\e535";
}

.icon-directions_walk:before {
  content: "\e536";
}

.icon-flight:before {
  content: "\e539";
}

.icon-local_atm:before {
  content: "\e53e";
}

.icon-local_bar:before {
  content: "\e540";
}

.icon-local_cafe:before {
  content: "\e541";
}

.icon-local_car_wash:before {
  content: "\e542";
}

.icon-local_convenience_store:before {
  content: "\e543";
}

.icon-local_drink:before {
  content: "\e544";
}

.icon-local_florist:before {
  content: "\e545";
}

.icon-local_gas_station:before {
  content: "\e546";
}

.icon-local_hotel:before {
  content: "\e549";
}

.icon-local_library:before {
  content: "\e54b";
}

.icon-local_parking:before {
  content: "\e54f";
}

.icon-local_pharmacy:before {
  content: "\e550";
}

.icon-local_pizza:before {
  content: "\e552";
}

.icon-local_play:before {
  content: "\e553";
}

.icon-local_shipping:before {
  content: "\e558";
}

.icon-local_taxi:before {
  content: "\e559";
}

.icon-person_pin:before {
  content: "\e55a";
}

.icon-map:before {
  content: "\e55b";
}

.icon-my_location:before {
  content: "\e55c";
}

.icon-pin_drop:before {
  content: "\e55e";
}

.icon-restaurant_menu:before {
  content: "\e561";
}

.icon-restaurant:before {
  content: "\e56c";
}

.icon-transfer_within_a_station:before {
  content: "\e572";
}

.icon-apps:before {
  content: "\e5c3";
}

.icon-arrow_back:before {
  content: "\e5c4";
}

.icon-arrow_drop_down:before {
  content: "\e5c5";
}

.icon-arrow_drop_down_circle:before {
  content: "\e5c6";
}

.icon-arrow_drop_up:before {
  content: "\e5c7";
}

.icon-arrow_forward:before {
  content: "\e5c8";
}

.icon-cancel:before {
  content: "\e5c9";
}

.icon-check:before {
  content: "\e5ca";
}

.icon-close:before {
  content: "\e5cd";
}

.icon-expand_less:before {
  content: "\e5ce";
}

.icon-expand_more:before {
  content: "\e5cf";
}

.icon-menu:before {
  content: "\e5d2";
}

.icon-more_horiz:before {
  content: "\e5d3";
}

.icon-more_vert:before {
  content: "\e5d4";
}

.icon-refresh:before {
  content: "\e5d5";
}

.icon-unfold_less:before {
  content: "\e5d6";
}

.icon-unfold_more:before {
  content: "\e5d7";
}

.icon-arrow_upward:before {
  content: "\e5d8";
}

.icon-subdirectory_arrow_left:before {
  content: "\e5d9";
}

.icon-subdirectory_arrow_right:before {
  content: "\e5da";
}

.icon-arrow_downward:before {
  content: "\e5db";
}

.icon-first_page:before {
  content: "\e5dc";
}

.icon-last_page:before {
  content: "\e5dd";
}

.icon-uniE602:before {
  content: "\e602";
}

.icon-uniE603:before {
  content: "\e603";
}

.icon-uniE604:before {
  content: "\e604";
}

.icon-uniE605:before {
  content: "\e605";
}

.icon-do_not_disturb_alt:before {
  content: "\e611";
}

.icon-event_available:before {
  content: "\e614";
}

.icon-event_busy:before {
  content: "\e615";
}

.icon-event_note:before {
  content: "\e616";
}

.icon-folder_special:before {
  content: "\e617";
}

.icon-mms:before {
  content: "\e618";
}

.icon-more:before {
  content: "\e619";
}

.icon-uniE621:before {
  content: "\e621";
}

.icon-uniE625:before {
  content: "\e625";
}

.icon-sms_failed:before {
  content: "\e626";
}

.icon-sync:before {
  content: "\e627";
}

.icon-system_update:before {
  content: "\e62a";
}

.icon-tap_and_play:before {
  content: "\e62b";
}

.icon-time_to_leave:before {
  content: "\e62c";
}

.icon-vpn_lock:before {
  content: "\e62f";
}

.icon-personal_video:before {
  content: "\e63b";
}

.icon-wc:before {
  content: "\e63d";
}

.icon-wifi:before {
  content: "\e63e";
}

.icon-enhanced_encryption:before {
  content: "\e63f";
}

.icon-priority_high:before {
  content: "\e645";
}

.icon-uniE646:before {
  content: "\e646";
}

.icon-uniE647:before {
  content: "\e647";
}

.icon-uniE648:before {
  content: "\e648";
}

.icon-uniE649:before {
  content: "\e649";
}

.icon-uniE64A:before {
  content: "\e64a";
}

.icon-uniE64B:before {
  content: "\e64b";
}

.icon-uniE64E:before {
  content: "\e64e";
}

.icon-uniE64F:before {
  content: "\e64f";
}

.icon-uniE650:before {
  content: "\e650";
}

.icon-uniE657:before {
  content: "\e657";
}

.icon-uniE658:before {
  content: "\e658";
}

.icon-uniE659:before {
  content: "\e659";
}

.icon-facebook:before {
  content: "\e65b";
}

.icon-uniE65C:before {
  content: "\e65c";
}

.icon-uniE65D:before {
  content: "\e65d";
}

.icon-uniE65E:before {
  content: "\e65e";
}

.icon-uniE65F:before {
  content: "\e65f";
}

.icon-uniE660:before {
  content: "\e660";
}

.icon-uniE661:before {
  content: "\e661";
}

.icon-uniE664:before {
  content: "\e664";
}

.icon-uniE665:before {
  content: "\e665";
}

.icon-facebook2:before {
  content: "\e666";
}

.icon-uniE667:before {
  content: "\e667";
}

.icon-uniE669:before {
  content: "\e669";
}

.icon-uniE66A:before {
  content: "\e66a";
}

.icon-uniE66B:before {
  content: "\e66b";
}

.icon-uniE66C:before {
  content: "\e66c";
}

.icon-uniE66D:before {
  content: "\e66d";
}

.icon-uniE66E:before {
  content: "\e66e";
}

.icon-uniE66F:before {
  content: "\e66f";
}

.icon-uniE670:before {
  content: "\e670";
}

.icon-uniE671:before {
  content: "\e671";
}

.icon-uniE674:before {
  content: "\e674";
}

.icon-uniE67A:before {
  content: "\e67a";
}

.icon-uniE67B:before {
  content: "\e67b";
}

.icon-uniE67C:before {
  content: "\e67c";
}

.icon-uniE67D:before {
  content: "\e67d";
}

.icon-uniE67F:before {
  content: "\e67f";
}

.icon-uniE680:before {
  content: "\e680";
}

.icon-uniE681:before {
  content: "\e681";
}

.icon-uniE684:before {
  content: "\e684";
}

.icon-uniE689:before {
  content: "\e689";
}

.icon-uniE68A:before {
  content: "\e68a";
}

.icon-uniE68B:before {
  content: "\e68b";
}

.icon-uniE68C:before {
  content: "\e68c";
}

.icon-uniE68D:before {
  content: "\e68d";
}

.icon-domain:before {
  content: "\e7ee";
}

.icon-group_add:before {
  content: "\e7f0";
}

.icon-mood_bad:before {
  content: "\e7f3";
}

.icon-notifications:before {
  content: "\e7f4";
}

.icon-notifications_none:before {
  content: "\e7f5";
}

.icon-notifications_off:before {
  content: "\e7f6";
}

.icon-notifications_active:before {
  content: "\e7f7";
}

.icon-party_mode:before {
  content: "\e7fa";
}

.icon-people:before {
  content: "\e7fb";
}

.icon-people_outline:before {
  content: "\e7fc";
}

.icon-person:before {
  content: "\e7fd";
}

.icon-person_add:before {
  content: "\e7fe";
}

.icon-person_outline:before {
  content: "\e7ff";
}

.icon-public:before {
  content: "\e80b";
}

.icon-share:before {
  content: "\e80d";
}

.icon-whatshot:before {
  content: "\e80e";
}

.icon-sentiment_dissatisfied:before {
  content: "\e811";
}

.icon-sentiment_neutral:before {
  content: "\e812";
}

.icon-sentiment_satisfied:before {
  content: "\e813";
}

.icon-sentiment_very_dissatisfied:before {
  content: "\e814";
}

.icon-sentiment_very_satisfied:before {
  content: "\e815";
}

.icon-check_box:before {
  content: "\e834";
}

.icon-check_box_outline_blank:before {
  content: "\e835";
}

.icon-radio_button_unchecked:before {
  content: "\e836";
}

.icon-radio_button_checked:before {
  content: "\e837";
}

.icon-star:before {
  content: "\e838";
}

.icon-star_half:before {
  content: "\e839";
}

.icon-star_border:before {
  content: "\e83a";
}

.icon-account_box:before {
  content: "\e851";
}

.icon-account_circle:before {
  content: "\e853";
}

.icon-add_shopping_cart:before {
  content: "\e854";
}

.icon-alarm:before {
  content: "\e855";
}

.icon-alarm_add:before {
  content: "\e856";
}

.icon-alarm_off:before {
  content: "\e857";
}

.icon-alarm_on:before {
  content: "\e858";
}

.icon-aspect_ratio:before {
  content: "\e85b";
}

.icon-autorenew:before {
  content: "\e863";
}

.icon-cached:before {
  content: "\e86a";
}

.icon-change_history:before {
  content: "\e86b";
}

.icon-check_circle:before {
  content: "\e86c";
}

.icon-code:before {
  content: "\e86f";
}

.icon-dashboard:before {
  content: "\e871";
}

.icon-delete:before {
  content: "\e872";
}

.icon-description:before {
  content: "\e873";
}

.icon-dns:before {
  content: "\e875";
}

.icon-done:before {
  content: "\e876";
}

.icon-done_all:before {
  content: "\e877";
}

.icon-exit_to_app:before {
  content: "\e879";
}

.icon-face:before {
  content: "\e87c";
}

.icon-favorite:before {
  content: "\e87d";
}

.icon-favorite_border:before {
  content: "\e87e";
}

.icon-find_in_page:before {
  content: "\e880";
}

.icon-find_replace:before {
  content: "\e881";
}

.icon-get_app:before {
  content: "\e884";
}

.icon-help:before {
  content: "\e887";
}

.icon-highlight_off:before {
  content: "\e888";
}

.icon-home2:before {
  content: "\e88a";
}

.icon-info:before {
  content: "\e88e";
}

.icon-info_outline:before {
  content: "\e88f";
}

.icon-input:before {
  content: "\e890";
}

.icon-language:before {
  content: "\e894";
}

.icon-list:before {
  content: "\e896";
}

.icon-lock:before {
  content: "\e897";
}

.icon-lock_open:before {
  content: "\e898";
}

.icon-lock_outline:before {
  content: "\e899";
}

.icon-open_in_browser:before {
  content: "\e89d";
}

.icon-open_in_new:before {
  content: "\e89e";
}

.icon-pageview:before {
  content: "\e8a0";
}

.icon-payment:before {
  content: "\e8a1";
}

.icon-perm_camera_mic:before {
  content: "\e8a2";
}

.icon-perm_contact_calendar:before {
  content: "\e8a3";
}

.icon-perm_data_setting:before {
  content: "\e8a4";
}

.icon-perm_device_information:before {
  content: "\e8a5";
}

.icon-perm_media:before {
  content: "\e8a7";
}

.icon-perm_phone_msg:before {
  content: "\e8a8";
}

.icon-print:before {
  content: "\e8ad";
}

.icon-question_answer:before {
  content: "\e8af";
}

.icon-redeem:before {
  content: "\e8b1";
}

.icon-restore:before {
  content: "\e8b3";
}

.icon-room:before {
  content: "\e8b4";
}

.icon-schedule:before {
  content: "\e8b5";
}

.icon-search:before {
  content: "\e8b6";
}

.icon-settings2:before {
  content: "\e8b8";
}

.icon-shopping_cart:before {
  content: "\e8cc";
}

.icon-stars:before {
  content: "\e8d0";
}

.icon-subject:before {
  content: "\e8d2";
}

.icon-supervisor_account:before {
  content: "\e8d3";
}

.icon-swap_horiz:before {
  content: "\e8d4";
}

.icon-swap_vert:before {
  content: "\e8d5";
}

.icon-swap_vertical_circle:before {
  content: "\e8d6";
}

.icon-thumb_down:before {
  content: "\e8db";
}

.icon-thumb_up:before {
  content: "\e8dc";
}

.icon-thumbs_up_down:before {
  content: "\e8dd";
}

.icon-toc:before {
  content: "\e8de";
}

.icon-today:before {
  content: "\e8df";
}

.icon-trending_flat:before {
  content: "\e8e4";
}

.icon-turned_in:before {
  content: "\e8e6";
}

.icon-turned_in_not:before {
  content: "\e8e7";
}

.icon-verified_user:before {
  content: "\e8e8";
}

.icon-view_array:before {
  content: "\e8ea";
}

.icon-view_carousel:before {
  content: "\e8eb";
}

.icon-view_column:before {
  content: "\e8ec";
}

.icon-view_day:before {
  content: "\e8ed";
}

.icon-view_headline:before {
  content: "\e8ee";
}

.icon-view_list:before {
  content: "\e8ef";
}

.icon-view_module:before {
  content: "\e8f0";
}

.icon-view_quilt:before {
  content: "\e8f1";
}

.icon-view_stream:before {
  content: "\e8f2";
}

.icon-visibility:before {
  content: "\e8f4";
}

.icon-visibility_off:before {
  content: "\e8f5";
}

.icon-card_travel:before {
  content: "\e8f8";
}

.icon-work:before {
  content: "\e8f9";
}

.icon-youtube_searched_for:before {
  content: "\e8fa";
}

.icon-help_outline:before {
  content: "\e8fd";
}

.icon-reorder:before {
  content: "\e8fe";
}

.icon-zoom_in:before {
  content: "\e8ff";
}

.icon-billetera:before {
  content: "\e900";
}

.icon-computador:before {
  content: "\e901";
}

.icon-tarjeta:before {
  content: "\e902";
}

.icon-fire_1:before {
  content: "\e903";
}

.icon-fire_2:before {
  content: "\e904";
}

.icon-luggage:before {
  content: "\e905";
}

.icon-packback:before {
  content: "\e906";
}

.icon-check_mini:before {
  content: "\e907";
}

.icon-close_mini:before {
  content: "\e908";
}

.icon-massages:before {
  content: "\e909";
}

.icon-parking:before {
  content: "\e90a";
}

.icon-elevator:before {
  content: "\e90b";
}

.icon-gift_shop:before {
  content: "\e90c";
}

.icon-taxi:before {
  content: "\e90d";
}

.icon-laundry:before {
  content: "\e90e";
}

.icon-bar:before {
  content: "\e90f";
}

.icon-gym:before {
  content: "\e910";
}

.icon-category_star1:before {
  content: "\e911";
}

.icon-category_star2:before {
  content: "\e912";
}

.icon-category_star3:before {
  content: "\e913";
}

.icon-category_star4:before {
  content: "\e914";
}

.icon-category_star5:before {
  content: "\e915";
}

.icon-category_star6:before {
  content: "\e916";
}

.icon-door_hab:before {
  content: "\e917";
}

.icon-sent_mail:before {
  content: "\e918";
}

.icon-nmv_autos:before {
  content: "\e919";
}

.icon-nmv_hoteles:before {
  content: "\e91a";
}

.icon-nmv_paquetes:before {
  content: "\e91b";
}

.icon-nmv_seguros:before {
  content: "\e91c";
}

.icon-nmv_vuelos:before {
  content: "\e91d";
}

.icon-coffee:before {
  content: "\e91e";
}

.icon-flight_land:before {
  content: "\e91f";
}

.icon-flight_takeoff:before {
  content: "\e920";
}

.icon-wifi_mob:before {
  content: "\e921";
}

.icon-piscina:before {
  content: "\e922";
}

.icon-spa:before {
  content: "\e923";
}

.icon-mascotas:before {
  content: "\e924";
}

.icon-copyright:before {
  content: "\e925";
}

.icon-volley_ball:before {
  content: "\e926";
}

.icon-stereo:before {
  content: "\e927";
}

.icon-private_zone:before {
  content: "\e928";
}

.icon-atm_cajero:before {
  content: "\e929";
}

.icon-offline_pin:before {
  content: "\e92a";
}

.icon-shop_coffee:before {
  content: "\e92b";
}

.icon-smoke_detector:before {
  content: "\e92c";
}

.icon-accessible:before {
  content: "\e92d";
}

.icon-compare_arrows:before {
  content: "\e92e";
}

.icon-date_range:before {
  content: "\e92f";
}

.icon-no_smoking:before {
  content: "\e930";
}

.icon-smoking:before {
  content: "\e931";
}

.icon-hair_dryer:before {
  content: "\e932";
}

.icon-hairdresser:before {
  content: "\e933";
}

.icon-motorcycle:before {
  content: "\e934";
}

.icon-terrace:before {
  content: "\e935";
}

.icon-electricity:before {
  content: "\e936";
}

.icon-bungalow:before {
  content: "\e937";
}

.icon-pregnant_woman:before {
  content: "\e938";
}

.icon-concierge:before {
  content: "\e939";
}

.icon-caja_seguridad:before {
  content: "\e93a";
}

.icon-cambio_modena:before {
  content: "\e93b";
}

.icon-guarda_equipaje:before {
  content: "\e93c";
}

.icon-events:before {
  content: "\e93d";
}

.icon-delete_forever:before {
  content: "\e944";
}

.icon-sauna:before {
  content: "\e945";
}

.icon-watch_later:before {
  content: "\e946";
}

.icon-zoom_out:before {
  content: "\e947";
}

.icon-home:before {
  content: "\e949";
}

.icon-exchange:before {
  content: "\e94a";
}

.icon-refresh-button:before {
  content: "\e94b";
}

.icon-controls:before {
  content: "\e94c";
}

.icon-settings_2:before {
  content: "\e94e";
}

.icon-google_plus:before {
  content: "\e952";
}

.icon-ac_unit:before {
  content: "\eb3b";
}

.icon-airport_shuttle:before {
  content: "\eb3c";
}

.icon-business_center:before {
  content: "\eb3f";
}

.icon-child_care:before {
  content: "\eb41";
}

.icon-child_friendly:before {
  content: "\eb42";
}

.icon-fitness_center:before {
  content: "\eb43";
}

.icon-free_breakfast:before {
  content: "\eb44";
}

.icon-golf_course:before {
  content: "\eb45";
}

.icon-pool:before {
  content: "\eb48";
}

.icon-room_service:before {
  content: "\eb49";
}
