/*---------------------------------------------------------------------------*
 * Start: paragraphs
----------------------------------------------------------------------------*/
.p_section,p {
  font-size: $tempo;
  padding: 10px 0;
  @include mqmax(mobile) {
    font-size: $font_size_base_m;
  }
  
}
/*---------------------------------------------------------------------------*
 * Endof: paragraphs
----------------------------------------------------------------------------*/
