/*---------------------------------------------------------------------------*
 * Start: Radio button
----------------------------------------------------------------------------*/

label.custom-radio-button input[type="radio"] {
  opacity:0;
}

label.custom-radio-button input[type="radio"] ~ .helping-el {
  background-color: #FFFFFF;
  border: 1px solid $c_oscuro_patron;  
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
  padding: 8px;
  position: relative;
  top: 3px;
}

label.custom-radio-button input[type="radio"]:checked ~ .helping-el {
  border: 1px solid $c_oscuro_patron;
}

label.custom-radio-button input[type="radio"]:checked ~ .helping-el:after {
  background-color: $c_rojo_patron;
  border-radius: 50%;
  content: " ";
  font-size: 33px;
  height: 12px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 12px;
   
}