

// Estilos del combobox
.dd-select {
  background: #fff !important;
  border: 1px solid $c_gris;
  box-sizing: border-box;
  cursor: pointer;
  min-height: 37px;
  width:100% !important;
  position: relative;
  border-radius: 4px !important;
  -webkit-box-shadow: 2px 5px 2px -4px rgba(179,179,179,1);
  -moz-box-shadow: 2px 5px 2px -4px rgba(179,179,179,1);
  box-shadow: 2px 5px 2px -4px rgba(179,179,179,1);  
  &--error{
    border: solid 1px $c_border_error !important;
  }
}
.dd-desc {
  color: #aaa;
  display: block;
  overflow: hidden;
  font-weight: normal;
  line-height: 1.4em;
}
.dd-selected {
  font-size: 16px;
  overflow: hidden;
  display: block;
  padding: 9px 0;
  width:100%;
  font-weight: normal !important;
  padding: 10px 0 !important;
}
.dd-selected label.dd-selected-text {
  color: #444;;
  cursor: pointer;
  float: initial;
  // margin-top:3px;
}
.dd-pointer {
  width: 0;
  height: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -3px;
}
.dd-pointer-down {
  border: solid 5px transparent !important;
  border-top: solid 5px $c_rojo_patron !important;
}

.dd-options {
  background: #fff;
  border-top: none;
  border-left: solid 1px $c_gris;
  border-right: solid 1px $c_gris;
  border-bottom: solid 1px $c_gris;
  box-sizing: border-box;
  display: none;
  list-style: none;
  margin: 0;
  margin-top: -3px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 2000;
  // &--error{
  //   border: solid 1px $c_border_error !important;
  // }
}
.dd-options .iScrollVerticalScrollbar,
.dd-options .iScrollLoneScrollbar  {
  width: 11px !important;
}
.dd-options .iScrollIndicator {
  background: #135699 !important;
}
.dd-option {
  border-bottom: solid 1px #ddd;
  color: #333;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 11px 10px;
  text-decoration: none;
  box-sizing: border-box;
  min-height: 38px;
}
.dd-options .dd-option {
  font-size: 16px;
  color: #767676;
}
.dd-options{
  width: 100% !important;
}
.dd-options > li:last-child > .dd-option {
  // font-size: 11px;
  // border-bottom: none;
}
.dd-option:hover {
  background: #f3f3f3;
  color: #000;
}
.dd-option .dd-option-text {
  cursor: pointer;
  line-height: 16px !important;
  margin-left: 5px;
  float: left;
}
.dd-selected-description-truncated {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dd-option-selected {
  background: #f6f6f6;
}
.dd-option-image, .dd-selected-image {
  background: transparent url(../img/sprite_banderas.png) 0 0 no-repeat;
  float: left;
  height: 15px;
  margin-top: 6px;
  margin-right: 5px;
  max-width: 64px;
  vertical-align: middle;
  width: 22px;
}
.dd-option-image {
  background: transparent url(../img/sprite_banderas.png) 0 0 no-repeat;
  height: 15px;
  width: 22px;
  margin-top: 0;
}
.dd-image-right {
  float: right;
  margin-right: 15px;
  margin-left: 5px;
}
.dd-container {
  position: relative;
  width: 100% !important;
  // margin: 5px 0;
}

// margin: 5px 0;
// .Select--smallfz .dd-selected {
//   font-size: $font_size_12;
// }

.Select--currency .dd-options {
  height: 60px;
  overflow: hidden;
}

.Select--payment_method .dd-options {
  height: 60px;
  overflow: hidden;
}

.dd-pointer-up {
  border: solid 5px transparent !important;
  border-bottom: solid 5px $c_rojo_patron !important;
  margin-top: -8px !important;
}