/*---------------------------------------------------------------------------*
 * Start: titles
----------------------------------------------------------------------------*/
.Title-section {
  color: $c_title_section;
  font-size: $font_size_title;
  padding: 20px 0;
  position: relative;
  @include mqmax(mobile) {
    font-size: $font_size_title_m;
    padding: 10px 0;
  } 
  i{
    position: absolute;
    top: 10px;
    color: $c_oscuro_patron;
  }  
}

.Sub-Title-section {
  font-size: $font_size_stitle;
  padding: 30px 0;
  i{
    color: $c_oscuro_patron;
  }
}
/*---------------------------------------------------------------------------*
 * Endof: titles
----------------------------------------------------------------------------*/
