doctype html
html(lang="es" xml:lang="es")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel="icon" href="" sizes="32x32")
    
    block _cssfiles_
    link(rel='stylesheet', href='css/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/app.css')
    //if IE 7  link(rel='stylesheet' href='css/fontello-ie7.css')


  body

    block _content_
    
    block _jsfiles_

