//Start: MainNav (Molecule)
- var online_text = 'Banca por internet'
- var cash_text = 'Pagar en Efectivo'

nav.MainNav
  .MainNav__list
    
    if active_link == 'online'
      a.MainNav__item.is-active(href=online_link, data-nom="online")
        span #{online_text}
      a.MainNav__item(href=cash_link, data-nom="cash")
        span #{cash_text}
        
    else if active_link == 'cash'
      a.MainNav__item(href=online_link, data-nom="online")
        span #{online_text}
      a.MainNav__item.is-active(href=cash_link, data-nom="cash")
        span #{cash_text}
//End: MainNav
