extends ../layout/base.pug

block _cssfiles_

block _content_
 
  main
    .result-hotels
      .container
        include ../modules/results/_filter.pug
        include ../modules/results/_list.pug
    

block _jsfiles_
  
  //- Scripts de terceros
  script(src='js/vendor/jquery.min.js')
  script(src='js/vendor/is.min.js')
  script(src='js/vendor/jquery.validate.min.js')
  script(src='css/bootstrap/js/modal.js')
  script(src='js/vendor/jquery.ddslick.js')
  script(src='js/modules/standar.js')
  script(src='js/app.js')


  


