extends ../layout/base.pug

block _cssfiles_
  link(rel='stylesheet', href='js/vendor/slick/slick.css')
  link(rel='stylesheet', href='js/vendor/slick/slick-theme.css')

block _content_
 
  - var session = 'on'


  - var variable = 'variable'
  
  main
  
    include ../modules/search/_motor.pug

block _jsfiles_
  
  //- Scripts de terceros
  script(src='js/vendor/jquery.min.js')
  script(src='js/vendor/is.min.js')
  script(src='js/vendor/jquery.validate.min.js')
  script(src="js/vendor/tooltip.js")
  script(src="js/vendor/popover.js")
  script(src='css/bootstrap/js/modal.js')
  script(src='js/vendor/slick/slick.js')
  script(src='js/modules/standar.js')
  script(src='js/modules/home.js')
  script(src='js/vendor/jquery.inputmask.bundle.js')     
  script(src='js/app.js')


  


