.container
  .row
    .header__menu-mobile
      include ./_menu-mobile.pug           

    .header__logo-vhdmundiales
      a(href="home.html")
        img(src="./img/logo-vhdmundiales.png", class="")
    .header__triangle
    div(class="header__menu-desktop header__menu-desktop--"+session)
      include ./_menu-desktop.pug  
    if(session=='off') 
      .header__data-info
        .data-info
          .data-info__icon
            i.icon-phone
          .data-info__items
            p 610-60600

    if(session=='off')
      .header__btns
        a(href="#").Button.Button--vhdmundiales-tools

    if(session=='on')
      .header__btns.header__btns--on
        a(href="#").Button.Button--vhdmundiales-tools
        a(href="#").Button.Button--easy

    
    if session == 'off'
      div(class="header__box-session-"+session)      
        .data-session-off
          .data-session-off__btn
            button.Button.Button--primary(data-toggle="modal",data-target="#modal-login") Iniciar Sesión
          .data-session-off__list-op-off
            ul
              li ¿No eres miembro todavía?
              li 
                a(href="register.html")
                  | ¡Regístrate aquí!
    else
      div(class="header__box-session-"+session)  
        .data-session-on
          .data-session-on__toogle
            .data-session-on__heading
              //i.icon-user.data-session-on__icon-user
              img(src="./img/user.png",width="30", alt="")
              i.icon-down-open.data-session-on__icon-arrow
          .data-session-on__opts
            ul
              li
                a(href="#") Actualización de datos
              li
                a(href="#") Cambio de contraseña
              li
                a(href="#") Cerrar sesión  

if session == 'on'
  .franja
    .container
      .franja__items
        .franja__item
          img.icono(src="./img/billetera_web.svg", alt="")
          p
            | Billetera Ágil: $9.00
        .franja__item
          img.icono(src="./img/attach_money_24px.svg", alt="")
          p
            | Tipo de cambio: S/. 3.38
        .franja__item               
          img.icono(src="./img/event_24px.svg", alt="")
          p
            | 26 Septiembre 2019               
      
