.menu-desktop
  nav.menu-desktop__items
    if(session=='off')
      ul
        li
          if option_menu=="quienes-somos"
            a.active(href="#") Quienes Somos
          else
            a(href="#") Quienes Somos

        li
          if option_menu=="en-contacto"
            a.active(href="#") En contacto
          else
            a(href="#") En contacto

        li
          if option_menu=="red-oficinas"
            a.active(href="#") Red de oficinas
          else
            a(href="#") Red de oficinas

        li
          if option_menu=="comunicados"
            a.active(href="#") Comunicados
          else
            a(href="#") Comunicados
    else
      ul
        li
          if option_menu=="operaciones"
            a.active(href="#") Operaciones
          else
            a(href="#") Operaciones
            ul
              li
                a(href="#") Easy Online
              li
                a(href="register-you-pay.html") Registra tu pago
              li
                a(href="#") Solicita tu Grupo  
              li
                a(href="#") Billetera Vhdmundiales
        li
          if option_menu=="productos"
            a.active(href="#") Productos
          else
            a(href="#") Productos
            ul
              li
                a(href="#") Autos       
              li
                a(href="#") Buscar Vuelos
              li
                a(href="#") Cruceros
              li
                a(href="#") Grupos 
              li
                a(href="#") Quick Hoteles
            
        li
          if option_menu=="conocenos"
            a.active(href="#") Conócenos
          else
            a(href="#") Conócenos
            ul
              li
                a(href="#") Quiénes Somos
              li
                a(href="#") Nuestro Equipo  
              li
                a(href="#") Red de Oficinas          
              li
                a(href="#") En Contacto
              li
                a(href="#") Políticas de Privacidad
        li
          if option_menu=="procedimientos"
            a.active(href="#") Procedimientos
          else
            a(href="#") Procedimientos
            ul
              li
                a(href="#") Cuentas Bancarias
              li
                a(href="#") Datos Bancarias                
              li
                a(href="#") Pago de Incentivos 
              li
                a(href="#") Procedimiento   
              li
                a(href="./reembolsos.html") Reembolsos                             
              li
                a(href="#") SafetyPay
              li
                a(href="#") Tarjeta La Mágica                
              li
                a(href="#") Términos y Condiciones
        li
          if option_menu=="servicios"
            a.active(href="#") Servicios
          else
            a(href="#") Servicios
            ul
              li
                a(href="./service_to_customer.html") Servicio al cliente  
              li
                a(href="#") Sugerencias            
              li
                a(href="#") Preguntas Frecuentes
                                                                    
        li
          if option_menu=="reportes"
            a.active(href="#") Reportes
          else
            a(href="#") Reportes
            ul
              li
                a(href="#") Incentivos
              li
                a(href="#") Administrativos                   
        li
          if option_menu=="publicaciones"
            a.active(href="#") Publicaciones
          else
            a(href="#") Publicaciones
            ul
              li
                a(href="#") Agencias Deudoras
              li
                a(href="#") Comunicados
              li
                a(href="#") Manuales
              li
                a(href="#") News & Flyers
              li
                a(href="#") Travel Ace 
              li
                a(href="#") Comisiones




            
                            