// Media queries
@mixin mqmax($break) {
  
  @if $break == "mobile_short" {
    @media screen and (max-width: $bp_mobile_short) {
      @content;
    }
  }  
  @if $break == "mobile_medium" {
    @media screen and (max-width: $bp_mobile_medium) {
      @content;
    }
  }  
  @if $break == "mobile" {
    @media screen and (max-width: $bp_mobile) {
      @content;
    }
  }
  @if $break == "mobile_large" {
    @media screen and (max-width: $brkpoint-mobile) {
      @content;
    }
  }
  @else if $break == "tablet" {
    @media screen and (max-width: $bp_tablet) {
      @content;
    }
  }
  @else if $break == "container" {
    @media screen and (max-width: $bp_container) {
      @content;
    }
  }  
  
   
  @else {
    // @error "No hay un valor para crear el breakpoint";
  }
}

// Media queries
// --------------------------------------------------------------------------*
// Media Queries - Mobile First - min-width
// --------------------------------------------------------------------------*
@mixin mq($break) {
  @if $break == "mob_small"  {
    @media (min-width: $brkpoint-mobile-small) {
      @content;
    }
  }
  @else if $break == "container" {
    @media (min-width: $bp_container) {
      @content;
    }
  } 
}
