#modal_sure_register_you_pay.fade.modal(tabindex='-1' role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        i.icon-attention-alt
      .modal-body
        .row
          .col-sm-12
            p
              | ¿Está seguro que desea continuar con la acción?
            table
              tr
                td(width="45%")
                  a.Button.Button--oscuro(href="#", id="btn-send-register-pay") Sí
                td(width="10%")
                td(width="45%")
                  a.Button.Button--blanco(href="",id="btn-cancel-register-pay") No
