@import "utilities/index";

* { box-sizing: border-box; }

body{
  font-family: 'Roboto';
  color: $c_oscuro_patron;
  // background: #f9f9f9;
}

.container{
  
  @include mq(container) {
    width: 1370px;
  }    
}

button {
  border: none;
  outline: 0;

}



