.jsidebar-left{
  float: left;
  width: 25%;
}
.jsearch{
  height: 36 + 30px;
  display: flex;
  align-items: center;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;  
  &__label{
    position: absolute;
    left: 0;
    width: 55%;
    display: flex;
    height: 36px;    
    justify-content: start;
    align-items: center;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  &__input{
    position: absolute;
    right: 0;
    width: 45%;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;  
  }

  &__item{
    position: relative;
    width: 100%;
    height: 36px;    
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;      
    &.focus{
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;        
      .jsearch__label{

      }
      .jsearch__input{
        position: absolute;
        right: 0;
        width: 90%;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;          
      }
    }    

  }  

}
.jfilter-hotels{
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #bfbfbf;
  background: $c_blanco;
  &__head{
    min-height: 40px;
    border-bottom: 1px #c0c0c0 dashed;
    padding: 15px;
    h2{
      font-size: $font_size_filter;
      font-weight: bold;
    }
  }
  &__items{
    width: 100%;
    min-height: 10px;
    padding: 15px;
  }
}
.jbox-filter{
  font-size: $font_size_filter;
  margin-bottom: 25px;
  &__head{
    h3{
      font-weight: bold;
      font-size: $font_size_filter;
      margin: 5px 0;
    }
  }
}