.header{
    background: $c_rojo_patron;
    min-height: $height_header;
    position: relative;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    @include mqmax(desktop_large) {
        height: $height_header_dlarge;
    }
    @include mqmax(tablet) {
        height: $height_header_tablet;
    }  
    
    .container{
        position: relative;
        z-index: 2;
    }
    &:before{
        content:'';
        position: absolute;
        width: 50%;
        height: $height_header;
        top: 0;
        left: 0;
        background: $c_blanco;
        @include mqmax(desktop_large) {
            height: $height_header_dlarge;
        }
        @include mqmax(tablet) {
            display: none;
        }  
    }
    &__menu-mobile{
        display: none;
        float: left;
        padding-top: 25px;
        padding-left: 10px;
        background: $c_blanco;
        height: $height_header_dlarge;
        @include mqmax(desktop_large) {
            display: block;
            width: 10%;
        }
        @include mqmax(tablet) {
            width: 60px;
            height: $height_header_tablet;
            padding-top: 8px;
        }  
    }
    &__menu-desktop{
        width: 46%;
        float: left;
        font-size: $font_size_base;
        display: table;
        background: $c_rojo_patron;
        height: $height_header;
        margin-left: -1px;
        padding-left: 1px;
        border-radius: 3px 0 0 0;
        @include mqmax(desktop_large) {
            display: none;
        }
        &--on{
            width: 58%;
        }

    }    
    &__logo-vhdmundiales{
        background: $c_blanco;
        height: $height_header;
        padding-top: 20px;
        float: left;
        width: 13%;
        @include mqmax(desktop_large) {
            height: $height_header_dlarge;
        }
        @include mqmax(tablet) {
            width: 30%;
            height: $height_header_tablet;
            padding-top: 0;;
        }         
        a{
            display: block;
            img{
                width: 140px;
                margin: auto;
                display: block;
                @include mqmax(desktop_large) {
                    width: 100px;
                } 
            }
        }
    }
    &__triangle{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 $height_header 58px;
        border-color: transparent transparent $c_rojo_patron transparent; 
        float: left;
        overflow: hidden;
        position: relative;
        @include mqmax(desktop_large) {
            border-width: 0 0 $height_header_dlarge 58px;
        } 
        @include mqmax(tablet) {
            display: none;
        }
    }
    &__box-session{
        // @include mqmax(desktop_large) {
        //     width: 30%;
        //     float: right;
        //     padding: 8px;
        //     height: $height_header_dlarge;
        // } 
        // @include mqmax(desktop_large) {
        //     height: $height_header_dlarge;
        // }         
        &-off{
            float: right;
            height: $height_header;            
            width: 14%;
            padding-top: 45px;
        }    
        &-on{
            float: right;
            height: $height_header;            
            width: 5%;
            padding-top: 0; 
            display: flex;
            align-items: center;            
        }             
    }
    &__data-info{
        width: 12%;
        float: left;
        padding: 10px;
        display: flex; 
        background: $c_rojo_patron;
        height: $height_header;
        @include mqmax(desktop_large) {
            padding-top: 40px; 
            width: 37%;
            margin-left: -1px;
            padding-left: 1px;;
            height: $height_header_dlarge;
        } 
        @include mqmax(tablet) {
            width: 45%;
            height: $height_header_tablet;
            padding: 10px;
            display: table;
        } 
    }
    &__btns{
        padding: 20px;
        width: 9%;
        float: left;
        padding: 10px;
        height: $height_header;
        display: flex;
        @include mqmax(container) {
            display: none;
        }         
        &--on{
            width: 18%;
        }
        .Button{
            width: 90px;
            margin: auto;
            display: block;
            height: 32px;            
        }        
    }
}

.data-info{
    width: 100%;
    overflow: hidden;
    color: $c_blanco;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon{
        font-size: 22px;
    }
    &__items{
        margin-left: 5px;
        p{
            font-size: $font-size-base * 1.3;
        }
    }
    @include mqmax(desktop_large) {
        display: table;
        margin: auto;
        width: initial;
    }   
    @include mqmax(tablet) {
        display: table-cell;
        vertical-align: middle;
    }         
}

.data-session-off{
    &__btn{
        button{
            font-size: 16px;
        }
    }
    &__list-op-off{
        ul{
            li{
                color: $c_blanco;
                font-size: 14px;
                text-align: center;
                margin: 4px auto;
                display: block;
                a{
                    font-weight: bold;
                    color: $c_blanco;
                    cursor: pointer;
                    text-decoration: none;
                }
                
            }
        }
    }
}

.data-session-on{
    position: relative;
    width: 100%;
    &__toogle{
        background-color: $c_rojo_patron;
        // border: solid 1px $c_blanco;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        padding: 7px;
        color: $c_blanco;
        cursor: pointer;
    }
    &__heading{
        color: $c_blanco;
        font-size: $font-size-base * 1.4;
    }
    
    &__opts{
        background: rgba(0,0,0,1);
        position: absolute;
        width: 290px;
        right: 0;
        padding: 10px;
        top: 60px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        display: none;
        &:before{
            content:'';
            width: 20px;
            height: 20px;
            background: rgba(0,0,0,1);
            position: absolute;
            top: -8px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);      
            -moz-transform: rotate(-45deg);      
            -o-transform: rotate(-45deg);            
            right: 4%;
            z-index: -1;
        }   
        ul{
            li{
                a{
                    color: $c_blanco;
                    padding: 10px;
                    display: block;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    transition: all 0.3s;
                    font-size: $font-size-base*1.1;
                    &:hover{
                        background: $c_rojo_patron;
                        color: $c_blanco;
                    }
                }
                &:last-child{
                    border: none;
                }
            }
        }
    }
    &__icon-arrow{  
        position: absolute;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        -ms-transition: all 0.1s;
        transition: all 0.1s;
        top: 17px;
    }
    &.open{
        .data-session-on__opts {
            display: block;
        }
        .data-session-on__icon-arrow{
            transform: rotate(-45deg);
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            top: 14px;
        }
    }  
}