.wrapper-motor{
  width: 100%;
  min-height: 500px;
  background: url('../img/searchbg.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;  
}
.motor{
  margin: 50px auto;
  nav {
    margin-top: 20px;
  }

  .nav {
    border-radius: 7px 7px 0px 0px;
    border-bottom: 0.5px solid #B6C0C3;
    display: flex;
    .nav-item {
      font-style: normal;
      font-weight: 300;
      line-height: 1em;
      font-size: 0.875em;
      color: $c_blanco;
      text-align: center;
      padding: 10px 0;
      width: 16.6667%;
      position: relative;
      border-right: 0.5px solid #B6C0C3;
      border-bottom: 0.5px solid #B6C0C3;
      border-top: 0;
      border-radius: 0;
      border-left: 0;
      border-radius: 0;
      cursor: pointer;
      -webkit-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
      min-height: 64px;
      margin: 0 5px;
      background: $c_oscuro_patron;
      &:first-child {
        border-left: 0;

        &.active {
          border-radius: 7px 0 0px 0px;

          &:before {
            border-radius: 7px 0 0px 0px;
            width: 100%;
          }
        }
      }

      &:last-child {
        border-right: 0;
        border-bottom: 0;

        &.active {
          border-radius: 0 7px 0 0;

          &:before {
            border-radius: 0 7px 0 0;
            width: 100%;
          }
        }
      }

      &.active {
        border-bottom-color: #fff;
        pointer-events: none;
        cursor: default;

        &:before {
          opacity: 1;
        }
      }
    }

    .icon-car {
      font-size: 26px;
      margin-bottom: 1px;
    }

    i {
      display: inline-block;
      font-size: 22px;
      margin-bottom: 5px;
      color: $c_blanco;
    }
  }

  .tab-content {
    background: rgba(0,0,0,0.5);
    border-radius: 0 0 7px 7px;
  }
}

@media (max-width: 400px) {
  .motor nav {
    width: 100%;
    overflow: auto;
    border-radius: 7px 7px 0 0;
  }
}

@media (max-width: 400px) {
  .motor .nav {
    width: 516px;
  }
}

@media (max-width: 600px) {
  .motor .nav .nav-item {
    font-size: 0;
    padding: 18px 0;
  }
}

@media (max-width: 400px) {
  .motor .nav .nav-item {
    width: 86px;
    padding: 18px 0;
  }
}

@media (min-width: 767px) {
  .motor .nav .nav-item:hover {
    font-weight: 400;

    i {
      color: #404F57;
      font-weight: 500;
    }
  }
}

@media (max-width: 767px) {
  .motor .nav .nav-item:hover {
    color: #778389;

    i {
      color: #778389;
    }
  }
}



#motor-container {
  /*! CSS Used from: https://www.nmviajes.com/Content/css/layoutnew_fix.css?636864295952045258 ; media=screen */
  /*! CSS Used from: Embedded */
  /*! CSS Used from: Embedded */
  min-height: 130px;

  .form-motor {
    .input-group-addon {
      background-color: #FFF;
      padding: 0 0 0 2px !important;
      color: #778F9B;
    }

    #multicity {
      float: left;
      width: 74%;
      margin-bottom: 0;
    }

    .input-group-addon:before {
      border-right: 1px solid #c1cdd3;
      height: 34px;
      padding: 7px;
    }

    .input-group {
      .input-label {
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        color: #404F57;
      }

      :-moz-placeholder, :-ms-input-placeholder, ::-moz-placeholder, ::-webkit-input-placeholder {
        color: #778F9B;
        font-size: 16px;
      }
    }
  }

  .opcion_vuelos label {
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    padding: 10px 35px 20px 0;
    margin: 0;
    position: relative;
    line-height: 23px;
    color: #404F57;
    -webkit-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    transition: all 0.20s ease-in-out;

    &:focus {
      outline: inherit;
      -webkit-box-shadow: inherit;
      box-shadow: inherit;
    }

    &:before {
      top: 13px;
      left: -24px;
      width: 16px;
      height: 16px;
    }

    &:after {
      width: 12px;
      height: 12px;
      top: 15px;
      left: -22px;
    }

    input[type=radio] {
      width: 15px;
      height: 15px;
      vertical-align: top;
      cursor: pointer;
      visibility: hidden;
      opacity: 0;
      border-color: #E93B42;
      background-color: #fff;
    }

    &:hover {
      font-weight: 700;
    }
  }

  .custom-control-input:checked ~ .custom-control-label:before {
    border-color: #404F57;
    background-color: #404F57;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    outline: inherit;

    &:focus {
      -webkit-box-shadow: inherit;
      box-shadow: inherit;
      outline: inherit;
    }
  }

  .custom-radio .custom-control-input:checked ~ .custom-control-label {
    &:before {
      background: #fff;
    }

    font-weight: bold;

    &:after {
      background: #E93B42;
      border-radius: 100px;

      &:focus {
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
        outline: inherit;
      }
    }
  }

  .label-destino {
    width: 23%;

    &:nth-child(2) {
      padding-right: 4px;
    }
  }

  .label-fecha:nth-child(2) {
    padding-right: 4px;
  }

  .label-pasajeros {
    padding-right: 4px;
    width: 15%;
  }

  .bloq-multicity {
    width: 100%;
    float: left;

    .label-destino {
      width: 37%;
    }

    .label-fecha {
      width: 25.4%;
    }

    &#divVueTramo1, &#divVueTramo2, &#divVueTramo3 {
      margin-top: 10px;
    }
  }

  .form-seguros {
    .label-destino {
      width: 20%;
    }

    .label-fecha {
      width: 14.5%;
    }

    .input-group .add-pasajero {
      padding: 0;
      cursor: default;

      input:focus {
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
      }
    }

    .group-edad .label-edad {
      width: 58px;
      position: relative;
    }

    .label-add-pasajeros {
      float: left;
      width: 11%;
      padding-right: 7px;
    }

    .add-pasajero {
      label {
        margin: 0;
        position: relative;
        width: 34px;

        i {
          position: absolute;
          color: #E93B42;
          z-index: 1;
          top: 15px;
          width: 100%;
          text-align: center;
          font-size: 10px !important;
          pointer-events: none;
        }
      }

      .qtyminus {
        left: 0.5px;
        border-right: 0.5px solid #B6C0C3 !important;
        border-radius: 0;

        &:focus {
          border-right-color: #B6C0C3 !important;
          border-left-color: transparent !important;
        }
      }

      .qtyplus {
        border-left: 0.5px solid #B6C0C3 !important;
        border-radius: 0;

        &:focus {
          border-left-color: #B6C0C3 !important;
          border-right-color: transparent !important;
        }
      }

      .qtyminus, .qtyplus {
        color: transparent !important;
        cursor: pointer;
        font-size: 16px !important;
        height: 40px;
        padding: 7px;
        vertical-align: middle;
        position: relative;
        top: 0;
        font-weight: 700 !important;
        margin: 0;
        background: #F5F5F5;
      }
    }

    .nro-adultos {
      width: 32px;
      padding: 0;
      text-align: center;
      font-size: 14px !important;
      display: inline-block;
      vertical-align: middle;
      height: 22px !important;
      font-weight: normal !important;
      color: #404F57 !important;
      cursor: default;
    }
  }

  .form-paquetes {
    .input-group {
      position: relative;

      &:after {
        content: '\e906';
        color: #B6C0C3;
        font-family: 'icomoon' !important;
        position: absolute;
        right: 4px;
        top: 9px;
        z-index: 4;
        -webkit-transition: color 0.25s ease-in-out;
        -o-transition: color 0.25s ease-in-out;
        transition: color 0.25s ease-in-out;
        pointer-events: none;
      }

      &:hover:after {
        color: #E93B42;
      }
    }

    .label-categoria {
      width: 26%;
      float: left;
      padding-right: 7px;
      position: relative;
    }

    .label-destino {
      width: 26%;
    }

    .label-fecha {
      width: 20%;

      .input-group:before {
        display: none;
      }
    }

    .label-duracion {
      width: 16%;
      float: left;
      padding-right: 6px;
    }
  }

  .btn-opc_avanzadas {
    background-color: #FFC107;
    color: #61140f;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    outline: 0;
    padding: 2px 10px;
    margin: 10px 0;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;

    &:focus {
      background-color: #FFC107;
      color: #61140f;
      -webkit-box-shadow: none;
      box-shadow: none;
      font-size: 12px;
      outline: 0;
      padding: 2px 10px;
      margin: 10px 0;
      -moz-transition: all .6s;
      -webkit-transition: all .6s;
      -o-transition: all .6s;
      transition: all .6s;
    }

    &.collapsed, &:hover {
      color: #FFF;
      background-color: rgba(0, 0, 0, 0.2);
    }

    &:after {
      font-family: nmviajes;
      content: "\e5d8";
      font-size: 13px;
      padding: 0;
      margin-left: 5px;
      margin-right: -2px;
      vertical-align: bottom;
    }
  }

  .opciones-avanzadas {
    div.group {
      padding: 10px 0 0;
    }

    #open-opciones input[type=checkbox] {
      margin-top: 5px;
      vertical-align: sub;
      width: 20px;
      height: 16px;
    }

    .aerolinea {
      height: 38px;
      margin-bottom: 5px;
      width: 270px;
      display: inline-block;
    }

    .input-group input {
      height: 38px;
    }

    .input-group-addon {
      background-color: #FFF;
      padding: 0 0 0 2px !important;
      color: #778F9B;

      &:before {
        border-right: 1px solid #c1cdd3;
        height: 28px;
        padding: 7px;
      }
    }
  }

  a {
    &:focus, &:hover {
      color: #23527c;
      text-decoration: none;
    }
  }

  button {
    border: none;
    outline: 0;
  }

  .group:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
  }

  select {
    padding: 4px;
  }

  .formulario-motor .title-motor {
    display: inline-block;
    padding-right: 15px;
  }

  .sbox-bundle-item-show-checked, .sbox-bundle-item-show-no-checked {
    margin-right: 10px;
    cursor: pointer;
    line-height: 32px;
    padding: 0 15px;
    display: inline-block;
    font-size: 13px;
    border-radius: 40px;
    -webkit-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    text-align: center;
  }

  .sbox-bundle-item-show-checked {
    line-height: 34px;
  }

  .sbox-bundles-container {
    display: inline-block;
    vertical-align: middle;
  }

  .sbox-bundle-item-show-no-checked {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #666;
    background-color: #FFF;
    -webkit-box-shadow: 0 1px 0 #DDD;
    box-shadow: 0 1px 0 #DDD;
  }

  .sbox-bundle-item-show-checked {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #FFC927;
    color: #354952;
    -webkit-box-shadow: 0 1px 0 #af8a1b;
    box-shadow: 0 1px 0 #af8a1b;
  }

  .sbox-bundle-item-show-no-checked:hover {
    background-color: #FFC927;
    color: #354952;
    -webkit-box-shadow: 0 1px 0 #af8a1b;
    box-shadow: 0 1px 0 #af8a1b;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  .opcion_vuelos {
    float: left;
  }

  .form-motor {
    clear: both;
  }

  .sbox-bundles-container {
    float: left;
    margin: 10px !important;
  }

  .sbox-bundle-item-show-checked, .sbox-bundle-item-show-no-checked {
    margin-right: 5px;
    cursor: pointer;
    line-height: 25px;
    padding: 0 15px;
    display: inline-block;
    font-size: 13px;
    border-radius: 40px;
    -webkit-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    text-align: center;
    padding: 0px 10px;
  }

  .sbox-bundle-item-show-checked, .sbox-bundle-item-show-no-checked {
    border-radius: 5px;
    background: #FFC927;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #254657;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: -0.25px;
    background: #ffc927;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
  }

  .sbox-bundles-container {
    margin-top: -10px;
  }

  .sbox-bundle-item-show-checked, .sbox-bundle-item-show-no-checked {
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  }

  .sbox-bundle-item-show-checked:hover, .sbox-bundle-item-show-no-checked:hover {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  }

  .sbox-bundle-item-show-checked {
    height: 27px;
    line-height: 27px;
  }

  .sbox-bundle-item-show-no-checked {
    height: 27px;
    line-height: 27px;
    overflow: hidden;
    width: 80px;

    input {
      display: none;
    }
  }

  .form-autos #divAlert_DestinoDevolucionAuto .alertab {
    top: -24px;
  }

  .alertab, .field-validation-error {
    position: absolute;
    background: #F3D8DA;
    color: #B44142;
    font-weight: 700;
    font-size: 11px;
    border: 0;
    border-radius: 0;
    padding: 3px 6px 3px;
    display: block;
    width: auto;
    float: left;
    top: 0;
    white-space: nowrap;
    z-index: 1;
  }

  .formulario-hoteles {
    .hcom-aff {
      padding: 26px 40px 40px;
      font-family: "Roboto";
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      border-radius: 0 0 7px 7px;
      position: relative;

      .widget-query {
        max-width: 100%;
        min-width: 100% !important;

        .widget-query-heading {
          display: none;
        }

        .widget-query-group {
          float: left;
          border: 0;
        }
      }

      .widget-query-geo .widget-query-destination {
        width: 28%;
        padding-right: 7px !important;

        .form-error-cont > .form-error {
          position: absolute;
          background: #F3D8DA;
          color: #B44142;
          font-weight: 700;
          font-size: 11px;
          border: 0;
          border-radius: 0;
          padding: 3px 6px 3px;
          top: -2px;
          width: 97%;

          &:before, &:after, span:before {
            display: none;
          }
        }
      }

      .widget-query-destination label {
        display: none;
      }

      .widget-query-geo .widget-query-destination:before {
        content: 'Destino';
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        color: #404F57;
        margin-bottom: 0.5rem;
        display: block;
      }

      .widget-query-dates label {
        margin-bottom: 0.5rem;
      }

      .widget-query .cta-geo {
        display: none;
        position: absolute;
        right: 18px;
        top: 31px;
        margin: 0;
        background-color: #d8e4ea;
        color: #11445d;
      }

      .widget-query-dates label, .widget-query-room-number label {
        display: block;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        color: #404F57;
      }

      .widget-query {
        .widget-query-group {
          padding: 0;
          margin: 0;
        }

        input[type=text] {
          border: 0.5px solid #B6C0C3;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 2px;
          font-style: normal;
          font-weight: 300 !important;
          line-height: normal;
          font-size: 0.875em;
          height: 42px;
          color: #404F57;
          padding: 7px 10px;
          margin: 0;

          &:focus {
            outline: inherit;
            border-color: #404F57;
          }
        }
      }

      .widget-query-dates input[type=text] {
        width: 100%;
        padding-left: 33px !important;
        text-transform: lowercase;

        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #404F57;
        }

        &::-moz-placeholder {
          /* Firefox 19+ */
          color: #404F57;
        }

        &:-ms-input-placeholder {
          /* IE 10+ */
          color: #404F57;
        }

        &:-moz-placeholder {
          /* Firefox 18- */
          color: #404F57;
        }

        &.form-error {
          background-color: #fff !important;
        }
      }

      .cont {
        display: table;
        border: 0;
        width: 100%;
        margin: 0;
        background: #fff;
      }

      .widget-query-date {
        position: relative;
        width: 50%;
        max-width: 50%;
        padding-right: 7px;
      }

      .widget-query-dates-required .widget-query-dates {
        width: 32%;

        .form-error-cont > .form-error {
          position: absolute;
          background: #F3D8DA;
          color: #B44142;
          font-weight: 700;
          font-size: 11px;
          border: 0;
          border-radius: 0;
          padding: 3px 6px 3px;
          top: -2px;
          width: 97%;
          z-index: 1;

          &:before, &:after {
            display: none;
          }

          span {
            display: block !important;

            &:before {
              display: none;
            }
          }
        }
      }

      .widget-query-dates .aria-label {
        position: absolute;
        margin: 0;
        padding: 0;
        color: #E93B42;
        overflow: hidden;
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        height: 42px;
        text-align: left;
        line-height: 42px;
        top: 22px;
        left: 0;

        &::before {
          content: "\e911";
          font-family: 'icomoon' !important;
          color: #E93B42;
          margin-right: 100%;
          padding-left: 10px;
        }
      }

      .widget-query-nights-display .widget-query-nights {
        display: none !important;
      }

      .widget-query-dates-required .widget-query-room-number {
        margin-top: 0 !important;
        width: 100%;
      }

      .widget-query .widget-query-room-number label {
        margin-bottom: 0.5rem;
      }

      .widget-query-compact-occupancy .widget-query-occupancy select {
        margin-top: 0;
        height: 42px;
        border: 1px solid #B6C0C3;
        border-radius: 2px;
        line-height: normal;
        font-size: 0.875em;
        color: #404F57;
        width: 100%;

        &:focus {
          outline: inherit;
          border-color: #404F57;
        }
      }

      .widget-query {
        &.widget-query-dates-required .widget-query-occupancy {
          overflow: hidden;
          width: 28%;
          margin-right: 7px;
          min-height: 64px;
        }

        .widget-query-ft {
          width: 11%;
          margin-top: 22px;
          position: absolute;
          right: 0;

          .cta {
            background: #E93B42;
            height: 42px;
            width: 100%;
            border-radius: 2px;
            position: relative;
            display: table;
            border-collapse: separate;
            font-size: 16px;
            color: #fff;
            letter-spacing: -.5px;
            -webkit-transition: background 0.25s linear;
            -o-transition: background 0.25s linear;
            transition: background 0.25s linear;
            cursor: pointer;
            margin: 0;
          }
        }
      }

      .widget-query-dates span {
        display: none !important;
      }

      .widget-query .widget-query-rooms .widget-query-room-number {
        width: auto;
        position: relative;
      }

      .widget-query-people label {
        display: block !important;
        margin: 0 0 0.5rem;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        color: #404F57;
        text-align: left;
      }

      .widget-query select {
        width: 100%;
        height: 42px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: normal;
        text-align: center;
        color: #404F57;
      }

      .widget-query-people {
        margin: 0;

        span {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: normal;
          color: #404F57;
          text-align: left;
          margin: 4px 0 0;
        }
      }

      .widget-query-children {
        margin-right: 0;
      }

      .widget-query-adults, .widget-query-children {
        margin-left: 7px;
        min-width: inherit;
        width: 32%;
      }

      .widget-query .widget-query-rooms {
        margin-right: 7px;
        width: 26%;
      }

      .widget-query-rooms-multiple .widget-query-room-options-label {
        display: none;
      }

      .widget-query-dates-required .widget-query-room-options {
        float: none;
        text-align: right;
      }

      .widget-query .widget-query-room-children {
        width: 100%;
        padding: 0;
        margin: 0;
        border-top: 0.5px solid #000;
      }

      .widget-query-room-children > span {
        position: absolute;
        margin: 0;
        width: 90px;
        text-align: left;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: normal;
        color: #404F57;
        left: 0;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
      }

      .widget-query .widget-query-room-options-children {
        width: 145px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        float: right;
        margin-bottom: 7px;
      }

      .widget-query-room-options-children label {
        margin: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        color: #404F57;
        width: 123px;
        margin-right: 10px;
        line-height: 42px;
      }

      .widget-query .widget-query-rooms {
        position: absolute;
        right: 11%;
        background: #fff;
        padding: 0 10px 10px 0;
        border-radius: 8px;
        width: 29%;
        margin-right: 0;
      }

      .widget-query-dates-required .widget-query-room-options {
        margin-top: 10px;
        border-bottom: 1px solid #dee2e6 !important;
        padding-bottom: 9px !important;
        float: left;
        width: 100%;

        label, span {
          display: none !important;
        }

        .widget-query-room-children {
          position: relative;
          border: 0;
          padding-top: 25px;

          span {
            display: block !important;
            position: absolute;
            top: 13px;
            left: 0;
            width: 100%;
            font-size: 10px;
            text-align: right;
          }

          .widget-query-room-options-children label {
            display: block !important;
            font-size: 12px;
            font-weight: normal;
            text-align: right;
          }
        }

        &:nth-child(2) {
          span {
            display: block !important;
          }

          label {
            display: block !important;
            font-weight: bold;
          }

          > span::before {
            content: "Hab #1";
          }
        }

        > span {
          &.widget-query-room-options-label {
            display: block !important;
            color: transparent !important;
            pointer-events: none !important;
            position: absolute;
            top: 0;
          }

          &::before {
            display: block;
            margin-left: -34%;
            text-align: left;
            color: #a7a7a7;
            font-size: 12px;
            font-weight: normal;
            line-height: 30px;
          }
        }

        &:nth-child(3) > span::before {
          content: "Hab #2";
        }

        &:nth-child(4) > span::before {
          content: "Hab #3";
        }

        &:nth-child(5) > span::before {
          content: "Hab #4";
        }

        &:nth-child(6) > span::before {
          content: "Hab #5";
        }

        &:nth-child(7) > span::before {
          content: "Hab #6";
        }

        &:nth-child(8) > span::before {
          content: "Hab #7";
        }

        &:nth-child(9) > span::before {
          content: "Hab #8";
        }

        &:nth-child(10) > span::before {
          content: "Hab #9";
        }

        &:last-child {
          border-bottom: 0 !important;
          padding-bottom: 0 !important;
        }
      }

      .widget-query {
        .widget-query-rooms .widget-query-room-number {
          width: 100%;
        }

        .widget-query-room-options-children:last-child {
          margin-right: 0;
        }
      }

      .widget-query-dates-required .widget-query-room-options:nth-child(2) .widget-query-people span {
        font-size: 10px;
      }
    }

    .cont.widget-query.widget-query-dates-required {
      &.widget-query-compact-occupancy.widget-query-geo, &.widget-query-geo {
        position: relative;
      }
    }
  }

  &.motor-interna {
    border-radius: 7px;
    margin-top: 24px;

    .formulario-motor {
      display: table !important;
    }
  }

  &.nav-seguro-tab .form-seguros .add-pasajero {
    .qtyminus, .qtyplus {
      top: 1px;
    }

    label i {
      top: 17px;
    }
  }
}

@media screen {
  #motor-container {
    .select-style select {
      -webkit-appearance: none;
    }

    label {
      display: inline-block;
      max-width: 100%;
    }

    .container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
    }

    #divVueTramo0 .labelTramo {
      margin-top: 0;
    }

    .labelTramo {
      margin-top: 15px;
      color: #404F57;
    }

    .form-control {
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s;
      transition: border-color ease-in-out .15s;

      &:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      }

      &::-moz-placeholder {
        color: #999;
        opacity: 1;
      }

      &:-ms-input-placeholder, &::-webkit-input-placeholder {
        color: #999;
      }

      &::-ms-expand {
        border: 0;
        background-color: transparent;
      }

      &[readonly] {
        background-color: #eee;
        opacity: 1;
      }
    }

    .btn {
      display: inline-block;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:active:focus {
        outline: -webkit-focus-ring-color auto 5px;
        outline-offset: -2px;
      }

      &:focus {
        outline: -webkit-focus-ring-color auto 5px;
        outline-offset: -2px;
        color: #333;
        text-decoration: none;
      }

      &:hover {
        color: #333;
        text-decoration: none;
      }

      &:active {
        outline: 0;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        background-image: none;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: .65;
        filter: alpha(opacity = 65);
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }

    .collapse {
      display: none;
    }

    .input-group {
      position: relative;
      display: table;
      margin-bottom: 0;

      .icon-loader {
        position: absolute;
        right: 1px;
        top: 1px;
        z-index: 5;
        padding: 10px;
        background: #fff;
        color: #B6C0C3;
        border-radius: 100px;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-duration: .8s;
        animation-duration: .8s;
        -webkit-animation-name: spinner-loading;
        animation-name: spinner-loading;
      }

      .form-control {
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
        display: table-cell;

        &::-ms-expand {
          display: none;
        }

        &:focus {
          z-index: 3;
        }
      }
    }

    .input-group-addon {
      display: table-cell;
      width: 1%;
      white-space: nowrap;
      vertical-align: middle;
      padding: 6px 12px;
      color: #555;
      text-align: center;
      background-color: #eee;

      &:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right: 0;
      }
    }

    .input-group .form-control:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    .title {
      -webkit-margin-before: .5em;
      -webkit-margin-after: .5em;
      -webkit-margin-start: 0;
    }

    .container {
      &:after, &:before {
        content: " ";
        display: table;
      }
    }

    .row {
      &:after, &:before {
        content: " ";
        display: table;
      }
    }

    .ui-datepicker-header {
      .ui-datepicker-next, .ui-datepicker-prev {
        speak: none;
        font-variant: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    [class*=" icon-"], [class^=icon-] {
      speak: none;
      font-variant: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .visible-xxs {
      display: none !important;
    }
  }
}

@media screen and (max-width: 480px) {
  #motor-container {
    .col-md-10, .col-md-12, .col-md-2, .col-sm-12 {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .col-xxs-12 {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      float: left;
      width: 100%;
    }

    .visible-xxs {
      display: block !important;
    }
  }
}

@media screen and (max-width: 480px) {
  #motor-container .hidden-xxs {
    display: none !important;
  }
}

@media screen {
  #motor-container {
    .btn {
      border-radius: 2px;
      border: none;
      -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
    }

    .none {
      display: none !important;
    }

    .view {
      display: block !important;
    }

    .form-control {
      -webkit-border-radius: 2px;
      border-radius: 2px;
    }

    .input-group-addon {
      font-size: 16px;
      height: 34px;
      font-weight: 400;
      line-height: 1;
      border: none;
      border-radius: 2px;
    }

    .input-group input {
      width: 100%;
      padding: 7px 10px;
      color: #4f5b69;
      -webkit-appearance: none;
      outline: 0;
    }

    .arrows_down {
      &.collapsed:after {
        content: "\e906";
      }

      &:after {
        font-family: 'icomoon' !important;
        content: "\e906";
        float: right;
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
        color: #B6C0C3;
      }
    }

    .title {
      font-weight: 400;
      width: 100%;
      display: block;
    }

    .select-style {
      padding: 0;
      display: inline-block;
      border-radius: 2px;
      overflow: hidden;
      float:right;
      background: #fff;
      top: 4px;
      position: relative;

      label {
        font-size: 14px;
        color: #404F57;
        margin: 0;
      }

      #Clase {
        visibility: hidden;
        display: none;
      }

      .ui-selectmenu-button {
        width: auto;
        margin: 0;
        padding-left: 0;
        font-family: "Roboto";

        &:focus {
          outline: inherit;
          -webkit-box-shadow: inherit;
          box-shadow: inherit;
          background: transparent !important;
        }

        .ui-selectmenu-text {
          font-size: 14px;
          color: #404F57;
          margin-right: 5px !important;
          font-weight: 500;
          -webkit-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
        }

        &:after {
          content: '\e907';
          font-family: 'icomoon' !important;
          position: absolute;
          top: 6px;
          right: 1px;
          color: #E93B42;
          z-index: 0;
        }

        &:hover .ui-selectmenu-text {
          text-decoration: underline;
        }
      }

      select {
        cursor: pointer;
        border: none;
        color: #333;
        height: 36px;
        -webkit-appearance: none;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 14px;
        color: #404F57;
        position: relative;
        z-index: 1;
        background: transparent;
        width: 115px;
        padding-right: 20px;

        &:focus {
          outline: 0;
        }

        option {
          background: url(https://www.nmviajes.com/Images/icon-clase.jpg) 4% 60% no-repeat;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #motor-container .select-style {
    display: none;
  }
}

@media screen {
  #motor-container {
    .btn-label {
      font-size: 14px;
      font-weight: 400;
      padding: 6px 10px;
      float: left;
      margin-right: 10px;
      height: 38px;
      cursor: pointer;
      border-radius: 2px;

      &.dark {
        background: rgba(0, 0, 0, 0.08);
      }
    }

    &.nav-vh-tab {
      .formulario-motor {
        .opcion_vuelos {
          display: none !important;
        }

        #open-opciones {
          display: none;
        }
      }

      .spacer-slight {
        display: block !important;
      }
    }

    .formulario-motor {
      background: #fff;
      position: relative;
      width: 100%;
      padding: 20px 40px 40px;
      display: table;
      border-radius: 7px;
    }
  }
}

@media screen and (max-width: 600px) {
  #motor-container .formulario-motor {
    padding: 28px 13px;
  }
}

@media screen {
  #motor-container {
    .formulario-motor {
      &:after {
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }

      .title-motor {
        color: #FFD500;
        font-weight: 400;
        margin: 15px 0 0;
        font-size: 20px;
      }

      .btn-motor button {
        background: #E93B42;
        height: 42px;
        width: 100%;
        border-radius: 2px;
        position: relative;
        display: table;
        border-collapse: separate;
        font-size: 16px;
        color: #fff;
        letter-spacing: -.5px;
        -webkit-transition: background 0.25s linear;
        -o-transition: background 0.25s linear;
        transition: background 0.25s linear;
        cursor: pointer;

        &:hover {
          background: #C44345;
        }
      }
    }

    .form-motor {
      .input-group {
        input {
          height: 42px;
          font-family: Roboto;
          background: #FFF;
          font-weight: 400;

          &:focus {
            border: 0.5px solid #404F57 !important;
            -webkit-box-shadow: inherit !important;
            box-shadow: inherit !important;
          }
        }

        select:focus {
          border: 0.5px solid #404F57 !important;
        }
      }

      .input-group-addon {
        background-color: #FFF;
        padding: 0 0 0 2px !important;
        color: #778F9B;
      }

      #multicity {
        float: left;
        width: 74%;
        margin-bottom: 7px;
        margin-right: -6px;
      }

      .input-group-addon:before {
        border-right: 1px solid #c1cdd3;
        height: 34px;
        padding: 7px;
      }

      .input-group .add-pasajero {
        width: 100%;
        height: 42px;
        padding: 0 10px;
        border: 0.5px solid #B6C0C3;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 2px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 0.875em;
        color: #404F57;
        background: #fff;
        text-align: left;

        &:focus, &:active {
          border: 0.5px solid #404F57;
        }

        &.arrows_down:after {
          position: absolute;
          right: 6px;
          top: 36px;
          -webkit-transition: 0.25s ease-in-out;
          -moz-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
        }

        &:hover:after, &:focus:after, &:active:after {
          color: #E93B42;
        }

        input {
          border: 0;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #motor-container .form-vuelos .btn-motor {
    margin-top: 38px;
  }
}

@media screen {
  #motor-container {
    .form-vuelos .pasajeros-box {
      &:before, &:after {
        margin-bottom: -1px;
      }
    }

    &.motor-interna .form-vuelos .pasajeros-box {
      &:before, &:after {
        margin-bottom: 0;
      }
    }

    .form-motor .input-group .add-pasajero #nro-adultos {
      font-weight: 400;
      color: #4f5b69;
      border: 0 !important;
      width: 16px;
      padding: 0;
      text-align: center;
      height: 19px;
      font-weight: 300;
      color: #36657b;
    }

    .label-destino, .label-fecha, .label-habitacion, .label-pasajeros {
      float: left;
      padding-right: 7px !important;
      position: relative;
    }

    .form-motor .input-group {
      :-moz-placeholder, :-ms-input-placeholder, ::-moz-placeholder, ::-webkit-input-placeholder {
        color: #778F9B;
        font-size: 16px;
      }
    }

    .clearable {
      background: url(https://www.nmviajes.com/Images/clearinput.png) right -15px center no-repeat #fff !important;
      -webkit-transition: background .4s;
      -o-transition: background .4s;
      transition: background .4s;

      &.x {
        background-image: url("https://www.nmviajes.com/Images/clearinput.png") !important;
        background-repeat: no-repeat !important;
        padding-right: 8;
      }

      &::-ms-clear {
        display: none;
        width: 0;
        height: 0;
      }
    }

    .opcion_vuelos label {
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      padding: 10px 15px 10px 0;
      margin: 0;
      line-height: 23px;

      input[type=radio] {
        width: 15px;
        height: 15px;
        vertical-align: top;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #motor-container .opcion_vuelos label {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 480px) {
  #motor-container .opcion_vuelos label {
    padding: 9px 0 9px 9px !important;
    display: block;
    width: 100%;
    white-space: nowrap;

    &:before {
      top: 11px !important;
      left: -13px !important;
    }

    &:after {
      top: 13px !important;
      left: -11px !important;
    }
  }
}

@media screen {
  #motor-container .opcion_vuelos .custom-radio {
    padding-left: 22px;
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  #motor-container .opcion_vuelos .custom-radio {
    width: auto;
    display: inline-block;
    padding: 0 14px;

    &:nth-child(1) {
      width: 35%;
    }

    &:nth-child(2) {
      width: 30%;
    }
  }
}

@media screen {
  #motor-container {
    .opcion_vuelos:last-child label {
      padding-right: 0;
    }

    .input-label {
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 12px;
      color: #404F57;
    }

    .form-hoteles .label-destino {
      width: 28%;
    }
  }
}

@media screen and (max-width: 991px) {
  #motor-container .form-hoteles .label-destino {
    width: 100%;
    padding-right: 0 !important;
  }
}

@media screen {
  #motor-container .form-hoteles .label-fecha {
    width: 16%;
  }
}

@media screen and (max-width: 991px) {
  #motor-container .form-hoteles .label-fecha {
    width: 50%;

    &:nth-child(3) {
      padding-right: 0 !important;
    }
  }
}

@media screen {
  #motor-container .form-hoteles .label-habitacion {
    width: 28%;
  }
}

@media screen and (max-width: 991px) {
  #motor-container .form-hoteles .label-habitacion {
    width: 50%;
  }
}

@media screen and (max-width: 991px) {
  #motor-container .form-hoteles .btn-motor {
    width: 50%;
    padding-right: 0 !important;
  }
}

@media screen and (max-width: 480px) {
  #motor-container .form-hoteles .btn-motor {
    width: 100%;
  }
}

@media screen {
  #motor-container {
    .label-destino {
      width: 23%;

      &:nth-child(2) {
        padding-right: 4px;
      }
    }

    .label-edad {
      width: 11%;
      float: left;
      padding-right: 7px;
    }

    .custom-checkbox .custom-control-label {
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      font-size: 12px;
      color: #404F57;

      &:before {
        width: 12px;
        height: 12px;
        border-radius: inherit;
        top: 0;
        left: -1.08rem;
      }

      &:after {
        width: 12px;
        height: 12px;
        top: 0;
        left: -1.08rem;
      }
    }

    .form-autos .bloque1 {
      width: 50%;
      float: left;
      height: 90px;
    }
  }
}

@media screen and (max-width: 991px) {
  #motor-container .form-autos .bloque1 {
    width: 100%;
    float: initial;
    height: auto;
  }
}

@media screen {
  #motor-container .form-autos .bloque1 .label-fecha {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  #motor-container .form-autos .bloque1 .label-fecha {
    width: 100%;
  }
}

@media screen {
  #motor-container .form-autos .label-destino {
    width: 50%;
  }
}

@media screen and (max-width: 991px) and (min-width: 480px) {
  #motor-container .form-autos .label-destino {
    width: 100%;
    padding-right: 0 !important;
  }
}

@media screen and (max-width: 480px) {
  #motor-container .form-autos .label-destino {
    width: 100%;
    padding-right: 0 !important;
  }
}

@media screen {
  #motor-container .form-autos {
    .label-destino.devolver {
      width: 100%;
      padding-right: 0 !important;
      margin: 5px 0;
    }

    .label-fecha {
      width: 25%;
    }
  }
}

@media screen and (max-width: 991px) and (min-width: 480px) {
  #motor-container .form-autos .label-fecha {
    width: 50%;

    &:nth-child(2) {
      padding-right: 0 !important;
    }
  }
}

@media screen and (max-width: 480px) {
  #motor-container .form-autos .label-fecha {
    width: 100%;
    padding-right: 0 !important;
    margin-bottom: 10px;
  }
}

@media screen {
  #motor-container .form-autos {
    .label-fecha {
      .input-label {
        width: 100%;
      }

      .input-group {
        width: 60%;
        float: left;

        input {
          border-radius: 4px 0 0 4px;
        }

        &.hora {
          width: 40%;

          &:before {
            display: none;
          }

          select {
            border-left: 0;
            border-radius: 0 4px 4px 0 !important;
          }
        }
      }
    }

    .custom-checkbox {
      position: absolute;
      bottom: 16px;
      left: 58px;
      padding: 0;
      text-align: left;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;

      &.active {
        left: 316px;
        margin-left: 7px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  #motor-container .form-autos .custom-checkbox.active {
    left: 17px;
    margin-left: 0;
  }
}

@media screen and (max-width: 991px) {
  #motor-container .form-autos .custom-checkbox {
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
  }
}

@media screen and (max-width: 991px) and (min-width: 480px) {
  #motor-container .form-autos .custom-checkbox {
    position: relative;
    bottom: 0;
    left: 17px;
    width: 100%;
    float: left;
  }
}

@media screen and (max-width: 480px) {
  #motor-container .form-autos .custom-checkbox {
    position: relative;
    bottom: 0;
    left: 18px;
    width: 100%;
    float: left;
  }
}

@media screen and (max-width: 991px) and (min-width: 480px) {
  #motor-container .form-autos .label-edad {
    width: 21%;
    margin-top: 10px;
    padding-right: 0;
  }
}

@media screen and (max-width: 480px) {
  #motor-container .form-autos .label-edad {
    width: 35%;
    margin-top: 0;
    padding-right: 7px;
  }
}

@media screen and (max-width: 991px) and (min-width: 480px) {
  #motor-container .form-autos .btn-motor {
    margin-top: 37px;
    float: right;
    padding: 0 !important;
    width: 23.6%;
  }
}

@media screen and (max-width: 480px) {
  #motor-container .form-autos .btn-motor {
    float: right;
    width: 65%;
    margin-top: 28px !important;
  }
}

@media screen {
  #motor-container {
    .label-fecha:nth-child(2), .label-pasajeros {
      padding-right: 4px;
    }

    .label-fecha {
      width: 14%;
      position: relative;

      .input-group {
        input {
          padding-left: 33px;
        }

        &:before {
          content: "\e911";
          font-family: 'icomoon' !important;
          font-weight: 700;
          position: absolute;
          left: 8px;
          top: 9px;
          color: #E93B42;
          pointer-events: none;
          z-index: 4;
        }
      }
    }

    .label-pasajeros {
      width: 15%;
    }

    .btn-motor {
      float: left;
      width: 11%;
      cursor: pointer;
      padding: 0;
      margin-top: 28px;
    }

    .bloq-multicity {
      width: 100%;
      float: left;

      .label-destino {
        width: 37%;
      }

      .label-fecha {
        width: 25.4%;
      }
    }

    .btns-tramo {
      float: left;
      width: 100%;
      margin-top: 3px;

      a {
        cursor: pointer;
        padding: 0;
        font-size: 12px;
        border-radius: 2px;
        color: #FFF;
        margin-top: 10px;

        i {
          font-size: 16px;
          vertical-align: sub;
          font-style: normal;
          position: relative;
          top: -2px;
          line-height: 0;
        }

        &#botonagregartramo, &:focus {
          float: left;
          border: none;
          color: #E93B42;
        }

        &#botoneliminartramo, &:focus {
          float: right;
          background: #fff;
          margin-right: 13px;
          color: #55595ba6;
        }
      }
    }

    .pasajeros-box {
      font-family: Roboto, sans-serif;
      position: absolute;
      top: 85px;
      color: #384850;
      z-index: 788;
      left: -80px;
      width: 290px;
      background: #fff;
      border: 0.5px solid #B6C0C3;
      border-radius: 2px;
      padding: 15px 15px 10px;

      &:after, &:before {
        bottom: 100%;
        right: 45%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(255, 112, 112, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-right: -2px;
        margin-bottom: 0;
      }

      &:before {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #B6C0C3;
        border-width: 12px;
        margin-right: -4px;
        margin-bottom: 0;
      }

      a {
        position: absolute;
        bottom: 0;
        right: 1px;
        text-align: right;
        width: 100%;
        padding: 7px 15px;
        color: #6f8a96;
        cursor: pointer;
      }

      .item_pasajero {
        border-radius: 2px;
        margin-bottom: 5px;
        overflow: hidden;

        strong {
          float: left;
          padding: 12px 5px 10px;
          font-style: normal;
          font-weight: normal;
          line-height: 14px;
          font-size: 14px;
          color: #404F57;

          small {
            display: block;
            width: 100%;
            color: #607D8B;
          }
        }

        .item_agregar {
          display: block;
          float: right;
          width: 120px;
          text-align: center;
          border-radius: 2px;
          padding: 7px 0;

          span {
            cursor: pointer;
            float: left;
            width: 35px;
            height: 40px;
            Line-height: 38px;
            padding: 0;
            background: #F5F5F5;
            border: 0.5px solid #B6C0C3;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 4px;
            color: #E93B42;
            font-size: 14px;

            &[data-action="minus"] {
              border-radius: 4px 0 0 4px;
            }

            &[data-action="plus"] {
              border-radius: 0 4px 4px 0;
            }

            i {
              font-size: 10px;
            }
          }

          div.cupo {
            float: left;
            position: relative;
            border-radius: 0;
            width: 47px;

            input {
              padding: 0;
              text-align: center;
              width: 100%;
              float: left;
              height: 40px;
              display: block;
              border-left: 0;
              border-right: 0;
              border-radius: 0;
            }
          }
        }
      }
    }

    .btn-opc_avanzadas {
      background-color: #FFC107;
      color: #61140f;
      -webkit-box-shadow: none;
      box-shadow: none;
      font-size: 12px;
      outline: 0;
      padding: 2px 10px;
      margin: 10px 0;
      -moz-transition: all .6s;
      -webkit-transition: all .6s;
      -o-transition: all .6s;
      transition: all .6s;

      &:focus {
        background-color: #FFC107;
        color: #61140f;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 12px;
        outline: 0;
        padding: 2px 10px;
        margin: 10px 0;
        -moz-transition: all .6s;
        -webkit-transition: all .6s;
        -o-transition: all .6s;
        transition: all .6s;
      }

      &.collapsed, &:hover {
        color: #FFF;
        background-color: rgba(0, 0, 0, 0.2);
      }

      &.collapsed:after {
        content: "\e5db";
      }

      &:after {
        font-family: nmviajes;
        content: "\e5d8";
        font-size: 13px;
        padding: 0;
        margin-left: 5px;
        margin-right: -2px;
        vertical-align: bottom;
      }
    }

    .opciones-avanzadas {
      div.group {
        padding: 10px 0 0;
      }

      #open-opciones input[type=checkbox] {
        margin-top: 5px;
        vertical-align: sub;
        width: 20px;
        height: 16px;
      }

      .aerolinea {
        height: 38px;
        margin-bottom: 5px;
        width: 270px;
        display: inline-block;
      }

      .input-group input {
        height: 38px;
      }

      .input-group-addon {
        background-color: #FFF;
        padding: 0 0 0 2px !important;
        color: #778F9B;

        &:before {
          border-right: 1px solid #c1cdd3;
          height: 28px;
          padding: 7px;
        }
      }
    }

    .label-habitacion {
      float: initial;
      padding-right: 0;
      padding-bottom: 0;
      position: relative;
      display: inline-block;
      width: 24.5%;
      float: initial;
      width: 15%;
      float: left;
      padding-right: 4px;

      .input-group {
        border: 1px solid #B6C0C3;
        border-radius: 2px;

        &:focus {
          border: 1px solid #404F57;
        }

        .summary-control {
          padding-right: 26px;
          padding-left: 15px;
          padding-top: 5px;
          border: 0 !important;
          pointer-events: none;
          height: 40px;

          &:focus {
            -webkit-box-shadow: inherit !important;
            box-shadow: inherit !important;
          }
        }
      }

      .chd-age {
        height: auto;
        display: none;
        margin: 0;
        padding: 0;

        label {
          width: 100% !important;
          margin-top: 10px !important;
          color: #404F57 !important;
        }

        .ages {
          margin: 0 0 10px;
          width: 100%;
          padding: 0;
          float: left;
        }

        select {
          display: none;
          border: 0.5px solid #B6C0C3;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 2px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          font-size: 0.875em;
          padding: 0 10px;
          padding-right: 20px;
          height: 27px;
          width: 100%;
          background: url(../../Images/support/arow-select.png) no-repeat right 10% (center / 12px) 7px;
          -webkit-appearance: none;

          &:focus {
            outline: inherit;
            -webkit-box-shadow: inherit;
            box-shadow: inherit;
          }
        }

        li {
          width: 25%;
          padding: 0 2.5px;
          float: left;
          position: relative;
        }

        small {
          display: none !important;
        }
      }

      .input-group {
        position: relative;
        padding: 0;

        &:after {
          font-family: "icomoon" !important;
          content: "\e906";
          font-size: 16px;
          line-height: 26px;
          font-weight: 300;
          color: #B6C0C3;
          position: absolute;
          right: 5px;
          z-index: 3;
          top: 8px;
          -webkit-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
          pointer-events: none;
        }

        &.search {
          &:hover:after, &:focus:after, &:active:after, &:target:after {
            color: #E93B42;
          }
        }
      }

      .btn {
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      .habitaciones-box {
        display: none;
        right: -15px;
        position: absolute;
        top: 85px;
        width: 276px;
        z-index: 3;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  #motor-container .label-habitacion .habitaciones-box {
    right: 7px;
  }
}

@media screen {
  #motor-container .label-habitacion .habitaciones-box {
    &:before, &:after {
      bottom: 100%;
      right: 45%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
  }
}

@media screen and (max-width: 767px) {
  #motor-container .label-habitacion .habitaciones-box {
    &:before, &:after {
      display: none;
    }
  }
}

@media screen {
  #motor-container .label-habitacion {
    .habitaciones-box {
      &:before {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #B6C0C3;
        border-width: 12px;
        margin-right: -4px;
        top: -22px;
      }

      &:after {
        top: -19px;
        border-color: rgba(255, 112, 112, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-right: -2px;
      }
    }

    .layer-rooms {
      right: 0;
      overflow: hidden;
      position: relative;
      border: 1px solid #D8DADF;
      background: #FFF;

      label {
        font-weight: 400;
        margin: 6px 0;
        width: 127px;
        float: left;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 14px;
        color: #404F57;
      }

      li {
        list-style: none;
      }

      .btn-close {
        color: #fff;
        border: 1px solid #E93B42;
        background: #E93B42;
        margin: 0 auto 10px;
        font-size: 15px;
        border-radius: 2px;
        padding: 5px 10px;
        font-weight: 400;
        width: 244px;
        display: block;
      }

      .summary {
        font-size: .95em;
        text-align: left;
        float: left;
        background: #F1585B;
        padding: 9px 20px;
        width: 100%;
        color: #fff;
      }

      .header-xs {
        position: fixed;
        width: 100% !important;
        top: 0;
        right: 0;
        z-index: 1000;
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
        display: none;

        .title {
          color: #FFF;
          background: #E93B42;
          font-size: 18px;
          text-align: left;
          font-weight: 300;
          padding: 15px 0 15px 20px;
          float: left;
          display: block;
          margin: 0;
        }

        .btn-close {
          width: 50px;
          height: 50px;
          right: 0;
          padding-top: 10px;
          text-align: center;
          position: absolute;
          background: 0 0;
          color: #FFF;
        }
      }

      .room {
        width: 100%;
        display: none;
        padding: 0 15px 10px;
        height: 100%;
        position: relative;
        vertical-align: top;
        overflow: hidden;

        &#room-1 {
          padding-top: 15px;
        }

        &#room-2, &#room-3, &#room-4 {
          margin-top: 15px;
        }

        &.active {
          display: block;
        }

        .header {
          position: relative;
          padding: 0;
          display: table;
          width: 100%;
          margin: 0 0 10px;
          background: transparent;
          -webkit-box-shadow: inherit;
          box-shadow: inherit;
        }

        .title {
          float: left;
          margin: 0;
          width: auto;
          font-style: normal;
          font-weight: bold;
          line-height: normal;
          font-size: 14px;
          color: #404F57;
        }

        .group-btn {
          float: left;
          width: 100%;

          .btn.disabled {
            color: #C0C3CC;
          }
        }

        .btn-include {
          border-radius: 2px;
          background: #fff;
          color: #404F57;
          float: right;
          padding: 4px 2px;
          margin-top: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          font-size: 12px;
          text-transform: capitalize;
          -webkit-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;

          &:hover {
            color: #E93B42;
          }

          &:before {
            content: '+';
            margin-right: 3px;
          }
        }

        .btn-delete {
          color: #E93B42;
          background: #FFF;
          float: left;
          font-size: 16px;
          font-weight: 500;
          padding: 4px 2px;
          position: absolute;
          top: -5px;
          right: 18px;
          z-index: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #motor-container .label-habitacion .layer-rooms .room .btn-delete {
    top: 10px;
  }
}

@media screen {
  #motor-container .label-habitacion {
    .layer-rooms .room .btn-delete.btn.disabled {
      opacity: 0;
      visibility: hidden;
    }

    .guests {
      float: left;

      .num {
        float: left;
        width: 47px;
        height: 40px;
        text-align: center;
        border-top: 1px solid #B6C0C3;
        border-bottom: 1px solid #B6C0C3;
      }

      .adt, .chd {
        margin: 10px auto 0;
        float: left;
        overflow: hidden;
        width: 100%;
      }

      .adt input, .chd input {
        width: 100%;
        padding: 0;
        float: left;
        text-align: center;
        height: 38px;
        border: 0;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 14px;
        text-align: center;
        color: #404F57;
      }

      .adt input:active, .chd input:active {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
      }

      .btn-remove {
        border-radius: 4px 0 0 4px !important;
      }

      .btn-add {
        border-radius: 0 4px 4px 0 !important;
      }

      .btn {
        width: 35px;
        padding: 0;
        height: 40px;
        font-size: 24px;
        float: left;
        vertical-align: middle;
        display: table;
        color: #E93B42;
        background: #F5F5F5;
        border: 0.5px solid #B6C0C3;
        border-radius: 0;

        i {
          font-size: 10px;
          display: table-cell;
          vertical-align: inherit;
        }
      }
    }

    .chd-age {
      label, small {
        color: #4D536B;
      }
    }

    .room .title:before {
      position: static;
      margin: -5px 8px 0 0;
      font-size: 1.25em;
      vertical-align: middle;
    }

    .btn-delete:before, .btn-include:before {
      position: static;
    }
  }
}

@media screen and (min-width: 1440px) {
  #motor-container .label-habitacion .input-group .summary-control {
    padding-left: 13px;
    padding-top: 7px;
  }
}

@media screen and (max-width: 1199px) {
  #motor-container .label-habitacion .chd-age li {
    width: 50px;
  }
}

@media screen and (max-width: 991px) {
  #motor-container .label-habitacion {
    .room {
      .header {
        padding-top: 20px;
      }

      .title {
        margin-top: 20px;
      }
    }

    .chd-age li {
      width: 85px;
      font-size: 1.125em;
    }
  }
}

@media screen and (max-width: 767px) {
  #motor-container {
    .clearable.x {
      background-position: right 15px center;
      padding-right: 38px;
    }

    .label-habitacion {
      .layer-rooms {
        background: #FFF;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding-top: 96px;
        padding-bottom: 25px;
        display: block;
      }

      .header-xs {
        display: block !important;
      }

      .habitaciones-box {
        width: 100%;

        &:before {
          display: none !important;
          z-index: -1;
        }
      }

      .room {
        &.active {
          border: 0;
          float: left;
          margin: 0;
          display: block;
          height: auto;
        }

        .title {
          font-size: 1.375em;
          margin-top: 0;
        }

        .header {
          padding: 20px;
          background: #E7E7E7;
        }

        .group-btn .btn:before {
          font-size: 1.25em;
        }

        .guests {
          padding: 0;
          float: left;
          width: 100%;

          .btn:hover {
            background: #FFF;
          }

          .btn-add {
            font-size: 1.5em;
          }

          .btn-remove {
            font-size: 2em;
          }
        }

        .chd-age {
          padding-bottom: 20px;

          .ages {
            width: 100%;
          }

          select {
            font-size: 1em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #motor-container {
    .bloq-multicity .label-destino, .btn-motor, .form-motor #multicity, .label-destino, .label-pasajeros {
      width: 100%;
    }

    .label-fecha {
      width: 50%;
    }

    .bloq-multicity .label-fecha, .btn-label, .opciones-avanzadas .aerolinea {
      width: 100%;
      padding-right: 0 !important;
    }

    .btn-motor {
      margin-top: 20px !important;
      padding-right: 0 !important;
    }

    .label-destino {
      padding-right: 0 !important;

      &:nth-child(2) {
        padding-right: 1px;
      }
    }

    #divFechaRetorno.label-fecha, .label-pasajeros {
      padding-right: 0 !important;
    }

    .btn-opc_avanzadas {
      float: right;

      &:focus {
        float: right;
      }
    }

    .pasajeros-box {
      left: 0;
      width: 100%;
      top: 80px;
    }

    .item_pasajero .item_agregar div.cupo input {
      line-height: 14px;
      height: 36px;
    }

    .label-habitacion {
      width: 99%;
      width: 100% !important;

      .input-group:after {
        bottom: 12px;
      }

      .layer-rooms .room {
        width: 100%;
        padding: 15px;

        .guests {
          label {
            width: 55%;
          }

          .btn, .num {
            width: 15%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  #motor-container .label-destino {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #motor-container {
    .formulario-motor .btn-motor, .label-fecha, .label-pasajeros {
      padding-right: 5px;
    }

    .label-destino {
      float: left;
      display: block;
      padding-right: 5px;
      width: 50%;
    }

    .btn-motor, .label-fecha, .label-pasajeros {
      width: 25%;
    }

    .label-habitacion {
      width: 49.5%;

      .habitaciones-box {
        width: 355px;

        .layer-rooms label {
          width: 215px;
        }
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  #motor-container {
    .form-motor #multicity, .label-destino {
      width: 100%;
    }

    .btn-motor, .label-fecha, .label-pasajeros {
      width: 50%;
    }

    .label-habitacion {
      width: 49.5%;
    }

    .pasajeros-box {
      left: 0;
    }

    .label-habitacion .layer-rooms .room {
      width: 50%;
      padding: 15px;
      border-left: 1px solid #dbddde;
      border-top: 1px solid #dbddde;

      .guests {
        label {
          width: 40%;
        }

        .btn, .num {
          width: 20%;
        }
      }
    }
  }
}

@media screen {
  #motor-container {
    a {
      &:focus, &:hover {
        color: #23527c;
        text-decoration: none;
      }
    }

    button {
      border: none;
      outline: 0;
    }

    .group:after {
      content: "";
      display: block;
      clear: both;
      height: 0;
    }
  }
}

@media screen and (max-width: 480px) {
  #motor-container .select-style {
    width: 100%;

    select {
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  #motor-container .label-habitacion {
    .layer-rooms {
      .btn-close {
        display: none;
      }

      .header-xs .btn-close {
        display: block;
        border: none;
        top: 8px;
      }
    }

    .habitaciones-box {
      z-index: 1099;
    }
  }
}

@media screen {
  #motor-container {
    select {
      padding: 4px;
    }

    .formulario-motor .title-motor {
      display: inline-block;
      padding-right: 15px;
    }

    .sbox-bundle-item-show-checked, .sbox-bundle-item-show-no-checked {
      margin-right: 10px;
      cursor: pointer;
      line-height: 32px;
      padding: 0 15px;
      display: inline-block;
      font-size: 13px;
      border-radius: 40px;
      -webkit-transition: background-color .2s ease-out;
      -o-transition: background-color .2s ease-out;
      transition: background-color .2s ease-out;
      text-align: center;
    }

    .sbox-bundle-item-show-checked {
      line-height: 34px;
    }

    .sbox-bundles-container {
      display: inline-block;
      vertical-align: middle;
    }

    .sbox-bundle-item-show-no-checked {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #666;
      background-color: #FFF;
      -webkit-box-shadow: 0 1px 0 #DDD;
      box-shadow: 0 1px 0 #DDD;
    }

    .sbox-bundle-item-show-checked {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: #FFC927;
      color: #354952;
      -webkit-box-shadow: 0 1px 0 #af8a1b;
      box-shadow: 0 1px 0 #af8a1b;
    }

    .sbox-bundle-item-show-no-checked:hover {
      background-color: #FFC927;
      color: #354952;
      -webkit-box-shadow: 0 1px 0 #af8a1b;
      box-shadow: 0 1px 0 #af8a1b;
    }

    ul {
      padding: 0;
      margin: 0;
    }

    .form-motor .input-group {
      input {
        border: 0.5px solid #B6C0C3;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 2px;
        font-style: normal;
        font-weight: 300 !important;
        line-height: normal;
        font-size: 0.875em;
        color: #404F57;
      }

      &.hora, &.edad {
        position: relative;
      }

      &.hora {
        &:hover:after, &:active:after {
          color: #E93B42;
        }
      }

      &.edad {
        &:hover:after, &:active:after {
          color: #E93B42;
        }
      }

      &.hora:after, &.edad:after {
        content: '\e906';
        color: #B6C0C3;
        font-family: 'icomoon' !important;
        position: absolute;
        right: 4px;
        top: 9px;
        z-index: 4;
        pointer-events: none;
        -webkit-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
      }

      select {
        border: 0.5px solid #B6C0C3;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 2px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 0.875em;
        padding: 0 10px;
        padding-right: 20px;
        height: 42px;
        width: 100%;
        -webkit-appearance: none;
        border-radius: 2px !important;

        &:focus {
          outline: inherit;
          -webkit-box-shadow: inherit;
          box-shadow: inherit;
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  #motor-container #frmBuscarVuelos {
    display: none;
  }
}

@media screen {
  #motor-container {
    /*! CSS Used from: https://www.nmviajes.com/Content/css/ecommerce.css?636864295952045258 ; media=screen */

    .sbox-bundle-item-show-checked, .sbox-bundle-item-show-no-checked {
      border-radius: 0;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      color: #254657;
      font-size: 11px;
      font-weight: 500;
      letter-spacing: 0;
      background: transparent;
      -webkit-transition: all .25s linear;
      -o-transition: all .25s linear;
      transition: all .25s linear;
      margin: 0;
      padding: 0;
      width: auto !important;
      height: auto !important;
    }
  }
}

@media screen and (max-width: 480px) {
  #motor-container .sbox-bundles-container {
    width: 32%;
    text-align: center;
    float: left;

    .iconDesktop {
      display: none;
    }

    .iconMobile {
      display: block;
    }
  }
}

@media screen {
  #motor-container .container {
    position: relative;
  }
}

@media screen {
  #motor-container {
    .sbox-bundle-item-show-checked {
      border-radius: 0;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      color: #254657;
      font-size: 11px;
      font-weight: 500;
      letter-spacing: 0;
      background: transparent;
      -webkit-transition: all .25s linear;
      -o-transition: all .25s linear;
      transition: all .25s linear;
      margin: 0;
      padding: 0;
      width: auto !important;
      height: auto !important;
    }

    .sbox-bundle-item-show-no-checked {
      border-radius: 0;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      color: #254657;
      font-size: 11px;
      font-weight: 500;
      letter-spacing: 0;
      background: transparent;
      -webkit-transition: all .25s linear;
      -o-transition: all .25s linear;
      transition: all .25s linear;
      margin: 0;
      padding: 0;
      width: auto !important;
      height: auto !important;

      &:hover {
        background-color: transparent;
      }
    }

    .sbox-bundles-container {
      margin: 0 !important;
      margin-top: -3px !important;

      .iconMobile {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #motor-container .sbox-bundles-container {
    width: 32%;
    text-align: center;
    float: left;

    .iconDesktop {
      display: none;
    }

    .iconMobile {
      display: block;
    }
  }
}

@media screen and (max-width: 360px) {
  #motor-container {
    .sbox-bundle-item-show-checked img, .sbox-bundle-item-show-no-checked img {
      max-width: 100%;
      float: left;
    }

    .sbox-bundles-container {
      width: 27%;
    }
  }
}

@media screen and (max-width: 991px) {
  #motor-container .container {
    width: 100%;
  }
}

@media (max-width: 767px) {
  #motor-container .label-pasajeros {
    margin-top: 10px;
  }
}

@media screen and (max-width: 991px) and (min-width: 767px) {
  #motor-container .form-seguros .label-destino {
    width: 45%;
  }
}

@media (max-width: 767px) {
  #motor-container .form-seguros .label-destino {
    width: 100%;
    padding-right: 0 !important;
  }
}

@media screen and (max-width: 991px) and (min-width: 767px) {
  #motor-container .form-seguros .label-fecha {
    width: 27.5%;
    margin-bottom: 10px;

    &:nth-child(3) {
      padding-right: 0 !important;
    }
  }
}

@media (max-width: 767px) {
  #motor-container .form-seguros .label-fecha {
    width: 50%;

    &:nth-child(3) {
      padding-right: 0 !important;
    }
  }
}

@media (max-width: 767px) {
  #motor-container .form-seguros .input-group .add-pasajero {
    text-align: center;
  }
}

@media (max-width: 767px) {
  #motor-container .form-seguros .group-edad .label-edad {
    width: 20%;

    &#divSeguroEdadPax4 {
      padding-right: 0;
    }
  }
}

@media (max-width: 480px) {
  #motor-container .form-seguros .group-edad .label-edad {
    padding-right: 1px;
  }
}

@media (max-width: 991px) and (min-width: 767px) {
  #motor-container .form-seguros .label-add-pasajeros {
    width: 99px;
  }
}

@media (max-width: 767px) {
  #motor-container .form-seguros .label-add-pasajeros {
    width: 100%;
    padding-right: 0 !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1200px) {
  #motor-container .form-seguros .add-pasajero label {
    width: 31px;
  }
}

@media (max-width: 991px) {
  #motor-container .form-seguros .add-pasajero label {
    width: 27px;
  }
}

@media (max-width: 767px) {
  #motor-container .form-seguros .add-pasajero label {
    width: 32%;
  }
}

@media screen and (max-width: 991px) and (min-width: 767px) {
  #motor-container .form-seguros .nro-adultos {
    width: 31%;
  }
}

@media (max-width: 767px) {
  #motor-container .form-seguros .nro-adultos {
    width: 33.33%;
  }
}

@media (max-width: 991px) and (min-width: 767px) {
  #motor-container .form-seguros .btn-motor {
    float: right;
    width: 27%;
  }
}

@media (max-width: 767px) {
  #motor-container .form-seguros .btn-motor {
    width: 100%;
    display: block;
    float: left;
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  #motor-container .form-paquetes .label-categoria {
    width: 50%;
  }
}

@media (max-width: 480px) {
  #motor-container .form-paquetes .label-categoria {
    width: 100%;
    padding-right: 0 !important;
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  #motor-container .form-paquetes .label-destino {
    width: 50%;
    padding-right: 0 !important;
  }
}

@media (max-width: 480px) {
  #motor-container .form-paquetes .label-destino {
    width: 100%;
  }
}

@media (max-width: 991px) {
  #motor-container .form-paquetes .label-fecha {
    width: 33.33%;
  }
}

@media (max-width: 767px) {
  #motor-container .form-paquetes .label-fecha {
    width: 50%;
  }
}

@media (max-width: 480px) {
  #motor-container .form-paquetes .label-fecha {
    width: 100%;
    padding-right: 0 !important;
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  #motor-container .form-paquetes .label-duracion {
    width: 33.33%;
  }
}

@media (max-width: 767px) {
  #motor-container .form-paquetes .label-duracion {
    width: 50%;
    padding-right: 0 !important;
  }
}

@media (max-width: 480px) {
  #motor-container .form-paquetes .label-duracion {
    width: 100%;
  }
}

@media (max-width: 991px) {
  #motor-container .form-paquetes .btn-motor {
    padding-right: 0 !important;
    width: 33.33%;
  }
}

@media (max-width: 767px) {
  #motor-container .form-paquetes .btn-motor {
    width: 100%;
  }
}

@media (max-width: 1199px) {
  #motor-container .label-habitacion .chd-age li {
    width: 50px;
  }
}

@media (max-width: 991px) {
  #motor-container .label-habitacion {
    .room {
      .header {
        padding-top: 20px;
      }

      .title {
        margin-top: 20px;
      }
    }

    .chd-age li {
      width: 85px;
      font-size: 1.125em;
    }
  }
}

@media (max-width: 767px) {
  #motor-container .clearable.x {
    background-position: right 15px center;
    padding-right: 38px;
  }
}

@media (max-width: 480px) {
  #motor-container {
    .bloq-multicity .label-destino, .btn-motor, .form-motor #multicity, .label-destino, .label-pasajeros {
      width: 100%;
    }

    .label-fecha {
      width: 50%;
    }

    .bloq-multicity .label-fecha, .btn-label, .opciones-avanzadas .aerolinea {
      width: 100%;
    }

    .btn-motor, .label-destino, .label-fecha, .label-destino:nth-child(2), .label-fecha:nth-child(2), .label-pasajeros {
      padding-right: 1px;
    }

    .btn-opc_avanzadas {
      float: right;

      &:focus {
        float: right;
      }
    }

    .label-habitacion {
      width: 99%;
      width: 100% !important;

      .input-group:after {
        bottom: 12px;
      }

      .layer-rooms .room {
        width: 100%;
        padding: 15px;

        .guests {
          label {
            width: 55%;
          }

          .btn, .num {
            width: 15%;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #motor-container .label-destino {
    width: 21%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #motor-container {
    .formulario-motor .btn-motor, .label-fecha, .label-pasajeros {
      padding-right: 5px;
    }

    .label-destino {
      float: left;
      display: block;
      padding-right: 5px;
      width: 50%;
    }

    .btn-motor, .label-fecha, .label-pasajeros {
      width: 25%;
    }

    .label-habitacion {
      width: 49.5%;

      .habitaciones-box {
        width: 355px;

        .layer-rooms label {
          width: 215px;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #motor-container {
    .form-motor #multicity {
      width: 100%;
    }

    .label-destino {
      width: 100%;
      padding-right: 0;
    }

    .btn-motor, .label-fecha, .label-pasajeros {
      width: 50%;
    }

    #divFechaRetorno .label-fecha {
      padding-right: 0 !important;
    }

    .label-habitacion {
      width: 49.5%;
    }

    .pasajeros-box {
      left: 0;
    }

    .label-habitacion .layer-rooms .room {
      width: 50%;
      padding: 15px;
      border-left: 1px solid #dbddde;
      border-top: 1px solid #dbddde;

      .guests {
        label {
          width: 40%;
        }

        .btn, .num {
          width: 20%;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  #motor-container .select-style {
    width: 100%;

    select {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  #motor-container .label-habitacion {
    .layer-rooms {
      .btn-close {
        display: none;
      }

      .header-xs .btn-close {
        display: block;
        border: none;
        top: 8px;
      }
    }

    .habitaciones-box {
      z-index: 1099;
    }
  }
}

@media (max-width: 991px) {
  #motor-container #frmBuscarVuelos {
    display: none;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  #motor-container #frmBuscarVuelos {
    display: none;
  }
}

@media screen {
  #motor-container {
    .btn {
      &:focus, &:hover {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
      }
    }

    .form-control {
      display: block;
      width: 100%;
      font-weight: normal;
      height: 28px;
      padding: 3px 5px;
      font-size: 14px;
      line-height: 17px;
      color: #555;
      background-color: #fff !important;
      background-image: none;
      border: 1px solid #ddd;
      border-radius: 2px;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
    }
  }
}

@media all and (max-width: 991px) {
  #motor-container #frmBuscarVuelos {
    display: block;
  }
}

@media all and (max-width: 1199px) and (min-width: 992px) {
  #motor-container #frmBuscarVuelos {
    display: block;
  }
}

@media all {
  #motor-container {
    .sbox-bundle-item-show-checked, .sbox-bundle-item-show-no-checked {
      margin-right: 5px;
      cursor: pointer;
      line-height: 25px;
      padding: 0 15px;
      display: inline-block;
      font-size: 13px;
      border-radius: 40px;
      -webkit-transition: background-color .2s ease-out;
      -o-transition: background-color .2s ease-out;
      transition: background-color .2s ease-out;
      text-align: center;
      padding: 0px 10px;
    }

    .sbox-bundle-item-show-checked, .sbox-bundle-item-show-no-checked {
      border-radius: 5px;
      background: #FFC927;
      -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      color: #254657;
      font-size: 11px;
      font-weight: 500;
      letter-spacing: -0.25px;
      background: #ffc927;
      -webkit-transition: all .25s linear;
      -o-transition: all .25s linear;
      transition: all .25s linear;
    }

    .sbox-bundles-container {
      margin-top: -10px;
    }
  }
}

@media all and (max-width: 991px) and (min-width: 768px) {
  #motor-container .label-habitacion {
    width: 25%;
  }
}

@media all and (max-width: 767px) and (min-width: 481px) {
  #motor-container .label-habitacion {
    width: 50%;
  }
}

@media all and (max-width: 480px) {
  #motor-container {
    .btn-motor {
      margin-top: 3px;
    }

    .label-habitacion {
      padding-right: 0;
    }
  }
}

@media (max-width: 767px) {
  #motor-container .formulario-hoteles .hcom-aff {
    padding: 28px 13px;
  }
}

@media (max-width: 991px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query-geo .widget-query-destination {
    width: 100%;
    padding-right: 0 !important;
    margin-bottom: 10px !important;
  }
}

@media (max-width: 991px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query-geo .widget-query-destination .form-error-cont > .form-error {
    width: 100%;
    top: -8px;
  }
}

@media (max-width: 599px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query .cta-geo {
    font-size: 18px;
    height: auto;
    width: auto;
  }
}

@media (max-width: 991px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query-dates-required .widget-query-dates {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query-dates-required .widget-query-dates .form-error-cont > .form-error {
    width: 100%;
  }
}

@media (max-width: 991px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query-dates-required .widget-query-dates div.widget-query-date:last-of-type {
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query-dates-required .widget-query-room-number {
    padding-right: 7px;
  }
}

@media (max-width: 991px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query.widget-query-dates-required .widget-query-occupancy {
    width: 50%;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query .widget-query-ft {
    bottom: 0;
    width: 50%;
    right: 0;
  }
}

@media (max-width: 599px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query select {
    margin: 0;
  }
}

@media (max-width: 991px) {
  #motor-container .formulario-hoteles .hcom-aff {
    .widget-query-adults, .widget-query-children {
      width: 47%;
      float: left;
    }
  }
}

@media (max-width: 991px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query-adults {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query .widget-query-room-options-children {
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query .widget-query-rooms {
    left: 0;
    right: inherit;
    top: 147px;
    width: 52.3%;
    padding: 0 7px 10px 20px;
    margin-left: -20px;
  }
}

@media (max-width: 380px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query .widget-query-rooms {
    width: 56%;
  }
}

@media (max-width: 350px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query .widget-query-rooms {
    width: 58%;
  }
}

@media (max-width: 991px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query-dates-required .widget-query-room-options {
    margin-top: 34px;
  }
}

@media (max-width: 991px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query-dates-required .widget-query-room-options .widget-query-room-children span {
    top: 17px;
  }
}

@media (max-width: 991px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query-dates-required .widget-query-room-options > span.widget-query-room-options-label {
    margin: 0;
    top: -32px;
    right: 0;
  }
}

@media (max-width: 991px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query-dates-required .widget-query-room-options > span::before {
    text-align: right;
  }
}

@media (max-width: 849px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query-date label {
    border-bottom: none;
    color: #727272;
    margin: 0 0 0.5rem;
    padding: 0;
    position: initial;
    top: inherit;
  }
}

@media (max-width: 849px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query-dates .aria-label {
    height: auto;
    background: 0 0;
    border: none;
    opacity: 1;
    z-index: 1;
  }
}

@media (max-width: 849px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query .widget-query-date + .widget-query-date {
    margin-left: 0;
  }
}

@media (max-width: 849px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query .cta-geo {
    left: inherit;
  }
}

@media (max-width: 849px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query .widget-query-date {
    min-height: inherit;
  }
}

@media (max-width: 599px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query-room-number {
    padding-left: 0;
    margin: 0;
    min-height: inherit;
  }
}

@media (max-width: 599px) {
  #motor-container .formulario-hoteles .hcom-aff .widget-query-room-number label {
    position: relative;
  }
}

@media (max-width: 991px) {
  #motor-container .formulario-hoteles .cont.widget-query.widget-query-dates-required.widget-query-compact-occupancy.widget-query-geo {
    padding-bottom: 0;

    .widget-query-room-number {
      padding-right: 7px;
    }
  }
}

@media (max-width: 991px) {
  #motor-container .formulario-hoteles .cont.widget-query.widget-query-dates-required.widget-query-geo {
    padding-bottom: 63px;

    .widget-query-room-number {
      padding-right: 0;
    }
  }
}

@media (max-width: 991px) and (max-width: 599px) {
  #motor-container .formulario-hoteles .cont.widget-query.widget-query-dates-required.widget-query-geo .widget-query-room-number {
    min-height: initial;
  }
}


  // &__tags{
  //   width: 100%;
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: flex-end;
  // }
  // &__tag{
  //   background: $c_oscuro_patron;
  //   margin-right: 5px;
  //   display: flex;
  //   align-items: flex-end;
  //   border-radius: 5px 5px 0 0;
  //   a{
  //     color: $c_blanco;
  //     padding: 10px 20px;
  //     display: block;
  //   }
  //   &--active{
  //     a{
  //       padding: 20px 20px;
  //     }      
  //   }    
  // }
  // &__container{
  //   background: $c_blanco;
  //   border-radius: 5px;
  // }
