.jcolumn-right{
  float: right;
  width: 73%;
}


.jresult{

}
.result-hotels .panel-result .box-result {
  border: 0;
  overflow: visible;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
  background: #FFF;
  float: left;
  margin-bottom: 20px;
  border: solid 1px #bfbfbf;
  padding: 20px 0px 20px 20px;
  .bloq_gallery{
    float: left;
    width: 40%;
    height: 220px;
    position: relative;
    &__tag{
      position: absolute;
      top: 10px;
      right: -15px;
      background-color: $c_rojo_patron;
      color: $c_blanco;
      display: flex;
      justify-content: center;
      align-items: center;  
      padding: 8px;
      font-size: $font_size_base;   
    }
    picture {
      float: left;
      width: 100%;
      height: 220px;
      overflow: hidden;
      img{
        text-align: center;
        min-height: auto;
        -o-object-fit: cover;
        height: 100%;
        object-fit: cover;
        width: 100%;
        top: 0;
        object-position: 50% 65%;
      }
      a{
        width: 100%;
        cursor: default !important;
        &:hover > span > .icongallery em {
          opacity: 0 !important;
          padding-left: 80px;
        }
      }

      span{
        position: absolute;
        height: 220px;
        padding: 10px;
        width: 100%;
        text-align: center;
        display: table;
        -webkit-transition: .7s;
        -moz-transition: .7s;
        -ms-transition: .7s;
        -o-transition: .7s;
        transition: .7s;        
        .icongallery {
          color: rgba(255, 255, 255, 0.65);
          vertical-align: middle;
          font-size: 24px;
          display: table-cell;
          -webkit-transition: .4s;
          -moz-transition: .4s;
          -ms-transition: .4s;
          -o-transition: .4s;
          transition: .4s;          
          em {
            padding-left: 65px;
          }

          i, em {
            left: 0 !important;
            right: 0 !important;
          }
        }
      }
      a:hover > span > .icongallery {
        i, em {
          left: 0 !important;
          right: 0 !important;
        }
      }

      &.nopicture:hover::before {
        color: #fff !important;
      }
    }
  }

  .body_detalles {
    position: relative;
    float: right;
    height: 220px;
    width: 59%;
    &__title{
      padding: 25px 30px;
    }

    h3.title-hotel{
        margin: 0;
        font-size: 22px;
        max-width: 410px;
        color: #254657;
        float: left;
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        min-width: 78%;
    }
    .btn-verOferta {
      bottom: 25px;
      display: inline-block;
      position: absolute;
      right: 20px;
      .btn {
        color: #fff;
        background-color: #fd574b;
        width: 100%;
        padding: 7px 14px 7px 22px;
        font-size: 15px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid transparent;
        outline: 0;
        font-weight: 400;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        transition: .3s;        
        i {
          display: inline-block;
          font-size: 16px;
          vertical-align: middle;
          font-family: nmviajes !important;
        }
        &:hover{
          color: #fd574b;
          border: 1px solid #fd574b;
          background: #FFF;
        }
        &.active i {
          -webkit-transition: all .15s linear;
          -o-transition: all .15s linear;
          transition: all .15s linear;
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }

    .precio {
      margin-top: -5px;
      float: right;
      text-align: right;
  
      .tarifa {
        -webkit-transition: color .15s linear;
        -o-transition: color .15s linear;
        transition: color .15s linear;
        color: #254657;
        line-height: 28px;
        display: inline-block;
        text-align: right; 
        span{
          font-size: 40px;
          font-weight: 600;
          letter-spacing: -2.5px;
        }              
        b {
          font-size: 13px;
          font-weight: 400;
          letter-spacing: -.25px;
          display: block;
          margin-top: -3px;
        }

        sub {
          vertical-align: super;
          font-size: 24px;
          bottom: -3px;
        }

        small {
          color: inherit;
          font-size: 13px;
          font-weight: 400;
          letter-spacing: -.25px;
          display: block;
        }
      }
    }

    .servicios_paquete {
      float: left;
      width: 100%;
      color: #295366;
      padding: 0px 30px;
      border-bottom: 1px #c0c0c0 dashed;
      .adr-reg{
        overflow: hidden;
      }
      .address{
        float: left;
        p{
          display: inline-block;
        }
        i{
          display: inline-block;
          color: $c_bg_yellow;
        }
      }
      .regimen{
        float: right;
        text-align: right;
        p{
          font-weight: bold;
        }
      }
      .tripadvisor{
        margin-bottom: 5px;
        display: inline-block;
        &__img{
          width: 119px;
          height: 20px;
        }
        span{
          font-size: $font_size_base;
          margin-left: 5px;
        }
      }      
      .ver-mapa{
        color: $c_bg_blulight;
        font-size: $font_size_base;
        display: inline-block;
        a{
          color: $c_bg_blulight;
          text-decoration: underline;
        }
      }
      .stars {
        font-size: 17px;
        letter-spacing: -3.25px;
        margin: 0 0 10px;
        display: block;
        color: #465f6b;   
        i{
          color: #FF9800;
        }  
      }
      .noches{
        display: inline-block;
        width: 100%;
        font-size: 13px;
        i{
          vertical-align: text-bottom;
          font-size: 14px;
          padding-left: 1px;
          padding-right: 3px;
        }
      }
    }
    .package-flight-info{
      position: absolute;
      bottom: 68px;
      left: 17px;
      right: inherit;
      color: #1D3541;
      font-size: 13px;
      border-radius: 3px;
      background: #E9F4F7;
      padding: 5px 5px 5px 10px;
      span{
        font-weight: 700;
      }
      .eva-icon-flights{
        color: #1D3541;
        font-size: 19px;
        vertical-align: middle;
        padding-right: 3px;
        line-height: 0;
        &:before{
          content: "\e91d";
          font-family: nmviajes !important;
          font-style: normal;
          font-weight: 400;
          text-transform: none;
          line-height: 1;
          position: relative;
          top: 0px;
        }
      }
      .eva-icon-arrow-bold-right{
        margin-top: 10px;
        margin-left: 2px;
        font-size: 10px;
        position: absolute;
        color: rgb(68, 68, 68);
        &:before{
          content: "\e5c4";
          font-family: nmviajes !important;
          font-style: normal;
          font-weight: 900;
          text-transform: none;
          line-height: 1;
        }
      }
      .eva-icon-arrow-bold-left{
        font-size: 10px;
        margin-top: 7px;
        margin-left: 10px;
        position: absolute;
        color: rgb(68, 68, 68);
        &:before{
          content: "\e5c8";
          font-family: nmviajes !important;
          font-style: normal;
          font-weight: 900;
          text-transform: none;
          line-height: 1;
        }
      }
      .eva-return{
        padding-left: 24px;
      }
      .eva-3-icon-handbag{
        margin-left: 0;
        color: #06a35c;
        -webkit-transition: initial;
        -o-transition: initial;
        transition: initial;
        margin-top: 7px;
        text-decoration: none;
        color: #00ac41;
        font-size: 21px;
        margin-left: 15px;
        cursor: pointer;
        padding: 5px 5px;
        text-align: center;
        box-shadow: none;
        font-family: "nmviajes" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        top: 2px;
        transition: all .2s;
        &:before{
          content: "\e93c";
        }        
      }
    }
    .ver_detalles_hotel {
      bottom: 30px;
      left: 15px;
      position: absolute;
      .btn_verhotel{
        float: left;
        margin: 0 3px;
        a{
          background-color: #eaeaea;
          color: #254657;
          padding: 5px 10px 5px 7px;
          border: 1px solid transparent;
          position: relative;
          border-radius: 3px;
          cursor: pointer;
          -webkit-transition: .3s;
          -moz-transition: .3s;
          -ms-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          &:hover{
            border: 1px solid #ff5e52;
            color: #ff5e52;
            background: #FFF;
          }
        }
      }
    }
  }

  
}