.jtag-order{
  display: flex;
  height: 36+30px;
  align-items: center;
  &__tags{
    display: flex;
    justify-content: space-between;
    flex: 60;
    height: 36px;
    -webkit-box-shadow: 2px 5px 2px -4px rgba(179,179,179,1);
    -moz-box-shadow: 2px 5px 2px -4px rgba(179,179,179,1);
    box-shadow: 2px 5px 2px -4px rgba(179,179,179,1);      
  }
  &__tag{
    flex: 33.33;
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 36px;
    border: solid 1px $c_oscuro_patron;
    border-left: none;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;    
    &:first-child{
      border-left: solid 1px $c_oscuro_patron;
    }
    &:hover{
      background: $c_oscuro_patron;
      opacity: 0.8;
      a{
        color: $c_blanco;
      }
    }
    a{
      color: $c_oscuro_patron;
      font-size: $font_size_filter;
      display: block;
      width: 100%;
      text-align: center;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;      
    }
    &.active{
      &:hover{
        opacity: 1;
      }
      background: $c_oscuro_patron;
      a{
        color: $c_blanco;
      }
    }
  }
  &__select{
    flex: 40;
    display: flex;
    justify-content: center;
    &>span{
      flex: 35;
      display: flex;
      justify-content: center;
      align-items: center;
    }    
    .Select{
      flex: 75;
    }
  }  
}